<!-- Template for access not allowed -->
<md-card class="salsah-warning access-denied fix-width">
    <md-icon>not_interested</md-icon>
    <md-card-subtitle>
        Error 403 | Access denied
    </md-card-subtitle>
    <md-card-title>
        You are not allowed to see the requested page
    </md-card-title>
    <md-card-content>
        You have the following possibilities now:

        <md-list>
            <md-list-item routerLink="/"><md-icon>keyboard_arrow_right</md-icon> go to the start page</md-list-item>
            <md-list-item routerLink="/login"><md-icon>keyboard_arrow_right</md-icon> try to login</md-list-item>
            <md-list-item [routerLink]=""><md-icon>keyboard_arrow_left</md-icon> go back</md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions>
        If you think it's a mistake, please <a href="https://github.com/dhlab-basel/salsah">inform the Salsah developers</a>
    </md-card-actions>
</md-card>

