@import '../../../../../assets/style/config';

//
// disable browser's input type appearance
//

input[type="text"]::-webkit-search-decoration,
input[type="text"]::-webkit-search-cancel-button,
input[type="text"]::-webkit-search-results-button,
input[type="text"]::-webkit-search-results-decoration {
  display: none;
}

input[type="text"] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

$select-user-width: 360px;

.user-panel {
//  background-color: $bright;


  &:hover {
//    @include box-shadow();
  }

  .select-user {
//    display: inline-block;
    border-radius: 4px;
    display: inline-flex;
    height: 40px;
    margin-bottom: 24px;
    position: relative;
    width: $select-user-width;
    z-index: 10;

    &.input-field {
      flex: 1;

      input {
        border-style: none;
        font-size: 14pt;
        height: 38px;
        position: absolute;
        width: $select-user-width - (2 * 40px);

        &:active,
        &:focus {
          outline: none;
        }
      }
    }

    .prefix,
    .suffix {
      background-color: white;
      border-radius: 3px;
      border-style: none;
      color: rgba($dark, .4);
      cursor: pointer;
      height: 38px;
      outline: none;
      //        color: rgb(33,33,33);
      position: relative;
      width: 40px;

      &:active {
        color: rgb(81, 81, 81);
      }
    }
  }

  .linebreak {
    height: 48px;
  }

}


/*
$form-width: 480;
$gc-large: $form-width / 1.618;
$gc-small: $form-width - $gc-large;

.salsah-form-content {
  margin-left: auto;
  margin-right: auto;
  width: $form-width + 80 + px;

  .small {
    width: $gc-small + px;
  }

  .medium {
    width: $gc-large + px;
  }

  .large {
    min-width: $form-width + px;
  }

  .input-icon {
    color: $black-60-opacity;
  }
}



.no-shadow .mat-expansion-panel {
//  box-shadow: none;
}
*/

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  align-items: center;
  justify-content: space-between;
}
