<form class="salsah-form new-user" [formGroup]="uf" (ngSubmit)="onSubmit(uf.value, uf.valid)">

    <h2 md-dialog-title>{{form.user.title}}</h2>

    <md-dialog-content>

        <md-input-container class="full-width"
                            dividerColor="{{ uf.controls['firstName']?.invalid && uf.controls['firstName']?.touched ? 'warn' : 'primary' }}">
            <input mdInput autofocus
                   [placeholder]="form.user.firstName + ' *'"
                   [formControl]="uf.controls['firstName']">
        </md-input-container>

        <md-input-container class="full-width"
                            dividerColor="{{ uf.controls['lastName']?.invalid && uf.controls['lastName']?.touched ? 'warn' : 'primary' }}">
            <input mdInput
                   [placeholder]="form.user.lastName + ' *'"
                   [formControl]="uf.controls['lastName']">
        </md-input-container>

        <md-input-container class="full-width"
                            dividerColor="{{ uf.controls['email']?.invalid && uf.controls['email']?.touched ? 'warn' : 'primary' }}">
            <input mdInput type="email"
                   [placeholder]="form.user.email + ' *'"
                   [formControl]="uf.controls['email']">
            <md-hint class="salsah-hint">
                <span [hidden]="uf.controls['email'].invalid">{{form.user.emailHint}}</span>
                <span [hidden]="uf.controls['email'].valid && uf.controls['email'].dirty || !uf.controls['email'].touched"
                      class="salsah-error">{{form.user.emailValidation}}
                </span>
            </md-hint>
        </md-input-container>

        <md-input-container class="full-width"
                            dividerColor="{{ !uf.controls['password']?.valid ? 'warn' : 'primary' }}">
            <input mdInput type="password"
                   [placeholder]="form.user.password + ' *'"
                   [formControl]="uf.controls['password']">
            <md-hint class="salsah-hint"><!-- [hidden]="uf.controls['password'].valid" [ngClass]="{'salsah-error': (uf.controls['password'].invalid && uf.controls['password'].dirty)}"  -->
                <span [hidden]="uf.controls['password'].valid && uf.controls['password'].dirty || !uf.controls['password'].touched"
                      class="salsah-error">
                    {{form.user.passwordHint}}
                </span>
            </md-hint>
        </md-input-container>
    </md-dialog-content>

    <md-dialog-actions>
        <span class="left">
            <button md-button
                    class="cancel-button"
                    (click)="closeForm($event)">
                Cancel
            </button>
        </span>
            <span class="right">
            <button type="submit"
                    [disabled]="!uf.valid || uf.errors"
                    md-raised-button
                    class="save-button mat-primary">
                Save
            </button>
        </span>
    </md-dialog-actions>

</form>
