<!-- progress indicator while the data is loading -->
<salsah-progress-indicator *ngIf="isLoading && !errorMessage"></salsah-progress-indicator>

<!-- show the results -->
<div *ngIf="!isLoading && !errorMessage; else errorMsg">

    <div *ngIf="numberOfItems > 0; else noData" [ngSwitch]="listType">
        <!-- table if "showAsTable" is true -->
        <div *ngSwitchCase="'table'">
            <!-- table with all active users -->
            <h4>Active users</h4>
            <table class="salsah-table">
                <tr>
                    <th># {{allActiveUsers.length}}</th>
                    <th (click)="sortKey='givenName'" class="salsah-link">Firstname</th>
                    <th (click)="sortKey='familyName'" class="salsah-link">Lastname</th>
                    <th (click)="sortKey='email'" class="salsah-link">eMail</th>
                    <th></th>
                </tr>
                <tr *ngFor="let item of allActiveUsers | sortBy: sortKey; let i = index;">
                    <td class="salsah-avatar-cell">
                        <img salsahImage [image]="item?.email" [type]="'avatar'" class="salsah-avatar-image square"/>
                    </td>
                    <td>{{item?.givenName}}</td>
                    <td>{{item?.familyName}}</td>
                    <td>{{item?.email}}</td>
                    <td>
                        <div class="hidden">

                            <button mat-icon-button
                                    (click)="setInactive(item?.id, item?.givenName + ' ' + item?.familyName)"
                                    matTooltip="Delete user">
                                <mat-icon>delete</mat-icon>
                            </button>

                            <button mat-icon-button (click)="edit(item)"
                                    matTooltip="Edit user">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="open(item?.email)"
                                    matTooltip="Go to the user's dashboard">
                                <mat-icon>forward</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
            <br><br>
            <!-- table with all inactive users -->
            <h4>Inactive (deleted) users</h4>
            <table class="salsah-table">
                <tr>
                    <th># {{countInactive}}</th>
                    <th (click)="sortKeyIA='givenName'" class="salsah-link">Firstname</th>
                    <th (click)="sortKeyIA='familyName'" class="salsah-link">Lastname</th>
                    <th (click)="sortKeyIA='email'" class="salsah-link">eMail</th>
                    <th></th>
                </tr>
                <tr *ngFor="let item of allInactiveUsers | sortBy: sortKeyIA">
                    <td class="salsah-avatar-cell">
                        <img salsahImage [image]="item?.email" [type]="'avatar'"
                             class="salsah-avatar-image"/>
                    </td>
                    <td>{{item?.givenName}}</td>
                    <td>{{item?.familyName}}</td>
                    <td>{{item?.email}}</td>
                    <td>
                        <div class="hidden">
                            <button mat-icon-button
                                    (click)="setActive(item?.id,  item?.givenName + ' ' + item?.familyName)"
                                    matTooltip="Activate user">
                                <mat-icon>refresh</mat-icon>
                            </button>
                            <button mat-icon-button (click)="edit(item)"
                                    matTooltip="Edit user">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button (click)="open(item?.email)"
                                    matTooltip="Go to the user dashboard">
                                <mat-icon>forward</mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div *ngSwitchCase="'accordion'">
            <mat-form-field>
                <mat-select [placeholder]="'salsahLabels.usersList.sortProps.sortTitle' | translate " [(value)]="sortKey">
                    <mat-option *ngFor="let item of sortProps" [value]="item.key">
                        {{item.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="allActiveUsers.length > 0">
                <h4 class="salsah-sub-header">{{allActiveUsers.length}} Active user<span *ngIf="allActiveUsers.length > 1">s</span></h4>
                <salsah-users-list-item [listData]="allActiveUsers" [sortProp]="sortKey"
                                        [project]="project"></salsah-users-list-item>
            </div>
            <br><br>
            <div *ngIf="allInactiveUsers.length > 0">
                <h4 class="salsah-sub-header">{{allInactiveUsers.length}} Inactive user<span *ngIf="allInactiveUsers.length > 1">s</span></h4>
                <salsah-users-list-item [listData]="allInactiveUsers" [sortProp]="sortKey"
                                        [project]="project"></salsah-users-list-item>
            </div>
        </div>

        <!-- default list -->
        <mat-list *ngSwitchDefault class="salsah-list">
            <h3 mat-subheader># Users: {{countActive}}
                <span *ngIf="selectedRow === undefined && numberOfItems > 1"> | {{sortTitle}}
                <button mat-button
                        *ngIf="selectedRow == undefined"
                        (click)="sortBy(sortKey)"
                        [matTooltip]="sortTitle + sortLabel" matTooltipPosition="above">
                    {{sortLabel}} <mat-icon>sort_by_alpha</mat-icon>
                </button>
            </span>
            </h3>
            <mat-list-item *ngFor="let item of allUsers | sortBy: sortKey; let i = index"
                           (click)="toggle(item.user_id, i);"
                           [id]="item.user_id"
                           class="salsah-link"
                           [class.inactive]="!item.status"
                           [class.highlight]="i == selectedRow">
                <!--<mat-list-item *ngFor="let admin of project.admins">-->
                <mat-icon mat-list-avatar class="salsah-avatar">
                    <img salsahImage [image]="item?.email" [type]="'user'" class="salsah-avatar-image"/>
                </mat-icon>
                <h4 mat-line>{{item?.givenName}} {{item?.familyName}}</h4>
                <p mat-line> {{item?.email}} </p>
                <button mat-icon-button class="right close close-highlight">
                    <mat-icon>close</mat-icon>
                </button>
                <!-- styling issue #81
                    <button mat-icon-button class="right action-highlight" (click)="removeFromProject(item.user_id, project)" matTooltip="Remove user from project" *ngIf="loggedInAdmin">
                        <mat-icon>delete</mat-icon>
                    </button>
                    -->
            </mat-list-item>
        </mat-list>
    </div>

    <!-- in the case of zero results: show a no data message -->
    <ng-template #noData>
        <salsah-message [message]="noDataMessage"></salsah-message>
    </ng-template>
</div>

<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>
</ng-template>
