<mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

<div class="salsah-module-content medium" *ngIf="project && !isLoading">
    <!-- cover image: project logo -->
    <img salsahImage [image]="project?.logo" [type]="'admin'">

    <div class="salsah-profile-header">
        <span class="profile-title">
            <h2 mat-header>{{project.longname}}</h2>
        </span>
        <span class="fill-remaining-space"></span>
        <span class="profile-action-button">
            <!-- edit button -->
            <button *ngIf="loggedInAdmin"
                    (click)="editProject()"
                    mat-raised-button
                    [matTooltip]="edit.title"
                    [matTooltipPosition]="'above'"
                    color="primary">
                Edit &nbsp; <mat-icon>edit</mat-icon>
            </button>
        </span>
    </div>

    <div [innerHTML]="project.description[0].value" class="salsah-text"></div>
</div>




