<div class="salsah-module-content">
    <p>
        Welcome to Salsah &mdash; a web-based virtual research environment that helps researchers in the humanities to
        deal with digital sources. It allows the annotation and linkage of arbitrary sources such as
        digital texts, still and moving images, and sound.
    </p>
    <p>
        SALSAH is one (generic) user interface to handle the data from the main repository called <a
        href="http://knora.org"
        title="Knora: Knowledge Organization, Representation, and Annotation">Knora</a>.
    </p>

    <salsah-projects-list></salsah-projects-list>

</div>

