<div class="salsah-module without-header">
    <div class="salsah-module-content salsah-text">
        <p>
            Welcome to Salsah &mdash; a web-based virtual research environment that helps researchers in the humanities to
            deal with digital sources. It allows the annotation and linkage of arbitrary sources such as
            digital texts, still and moving images, and sound.
        </p>
        <p>
            SALSAH is one (generic) user interface to handle the data from the main repository called <a
                href="http://knora.org"
                title="Knora: Knowledge Organization, Representation, and Annotation">Knora</a>.
        </p>

        <!-- list all public projects -->
        <salsah-projects-list [listTitle]="listTitle"></salsah-projects-list>


        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
            consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
            diam voluptua.
        </p>

        <p>
            At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et
            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
    </div>
</div>

