<salsah-progress-indicator *ngIf="!user"></salsah-progress-indicator>

<salsah-message *ngIf="errorMessage" [message]="error"></salsah-message>

<div *ngIf="user">
    <mat-list class="main-list">
        <mat-list-item>
            <img mat-list-icon salsahImage *ngIf="email" [image]="email" [type]="'user'" class="salsah-avatar-image large"/>
            <h4 mat-line>{{user?.familyName}}, {{user?.givenName}}</h4>
            <p mat-line><a [href]="'mailto:' + email">{{email}}</a></p>
        </mat-list-item>
    </mat-list>
    <div class="salsah-groups" >
        <mat-chip-list>
            <mat-chip *ngFor="let group of user?.permissionData.groupsPerProject[currentProject.id]">
                {{group}}
            </mat-chip>
        </mat-chip-list>
    </div>

    <mat-divider></mat-divider>

    <h3 mat-subheader>Member in the following projects</h3>

    <salsah-projects-list *ngIf="iri" [restrictedBy]="iri"></salsah-projects-list>

    <mat-divider></mat-divider>

    <button mat-button color="warn" (click)="deleteUser(iri)">
        Delete user
    </button>
</div>

