<div class="salsah-module without-header" style="margin-left: 15px;">
    <h2>BEOL Beta Release</h2>
    <div style="margin-right: 15px;">
        <div>
            The <a target="_blank" href="http://dhlab.unibas.ch/beol/">Bernoulli-Euler Online (BEOL)</a> project is a research platform for the study of early modern mathematics and science.<br>
            This Beta release integrates the two edition projects Basler Edition der Bernoulli-Briefwechsel (BEBB) and Leonhardi Euleri Opera Omnia (LEOO) IVA/IV into one platform.<br>
            As a next step, Jacob Bernoulli's scientific notebook <em>Meditationes</em> will be also integrated in this platform.
        </div>
        <br>
        <div>
            BEOL is implemented within <a target="_blank" href="http://www.knora.org">Knora and SALSAH</a>, a generic virtual research environment (VRE) for the humanities.
        </div>

    </div>

    <div>
        <h3>Leonhardi Euleri Opera Omnia (LEOO)</h3>
        <ul class="beol-list">
           <li *ngFor="let book of leoo">
               <div>{{book.title}}</div>
               <br>
               <div style="margin-bottom: 10px;">Introduction:</div>
               <mat-accordion>
                   <mat-expansion-panel  (opened)="book.panelOpenState = true"
                                         (closed)="book.panelOpenState = false">

                       <mat-expansion-panel-header>
                           <mat-panel-title>{{book.title}} Introduction</mat-panel-title>
                           <mat-panel-description>{{book.panelOpenState ? 'Hide' : 'Show'}} the sections of the introduction</mat-panel-description>
                       </mat-expansion-panel-header>

                       <mat-list>
                           <mat-list-item class="salsah-link" (click)="searchForBook(book.isbn, 'Historical and biographical setting')">Introduction 1</mat-list-item>
                           <mat-list-item class="salsah-link" (click)="searchForBook(book.isbn, 'Main subjects of the correspondence')">Introduction 2</mat-list-item>
                           <mat-list-item class="salsah-link" (click)="searchForBook(book.isbn, 'Editing the Euler-Goldbach correspondence')">Introduction 3</mat-list-item>
                           <mat-list-item class="salsah-link" (click)="searchForBook(book.isbn, 'List of Abbreviations')">List of Abbreviations</mat-list-item>
                           <mat-list-item class="salsah-link" (click)="searchForSubjectIndex('http://rdfh.ch/lists/0801/subject_index')">Subject Index</mat-list-item>
                       </mat-list>

                   </mat-expansion-panel>

               </mat-accordion>

               <br>
               <div style="margin-bottom: 10px;">Correspondence:</div>
               <mat-accordion>
                   <mat-expansion-panel *ngFor="let corrGroup of book.correspondences"
                                        (opened)="corrGroup.panelOpenState = true"
                                        (closed)="corrGroup.panelOpenState = false">

                       <mat-expansion-panel-header>
                           <mat-panel-title>{{corrGroup.description}}</mat-panel-title>
                           <mat-panel-description>{{corrGroup.panelOpenState ? 'Hide' : 'Show'}} correspondence {{corrGroup.description}}</mat-panel-description>
                       </mat-expansion-panel-header>

                       <ul class="beol-list">
                           <li class="salsah-link" *ngFor="let corr of corrGroup.correspondences" (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd, corr.noTranslation)">
                               {{corr.description}}
                           </li>
                       </ul>


                    </mat-expansion-panel>
                </mat-accordion>

           </li>
        </ul>


    </div>

    <div>
        <h3 style="margin-bottom: 10px;">Basler Edition der Bernoulli-Briefwechsel (BEBB)</h3>

        <mat-accordion>
            <mat-expansion-panel *ngFor="let corrGroup of wiki"
                                 (opened)="corrGroup.panelOpenState = true"
                                 (closed)="corrGroup.panelOpenState = false">

                <mat-expansion-panel-header>
                    <mat-panel-title>{{corrGroup.mainCorrespondent.name}} {{corrGroup.description}}</mat-panel-title>
                    <mat-panel-description>{{corrGroup.panelOpenState ? 'Hide' : 'Show'}} correspondents for {{corrGroup.mainCorrespondent.name}}</mat-panel-description>
                </mat-expansion-panel-header>

                <ul class="beol-list">
                    <li *ngFor="let section of corrGroup.sections">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="section.panelOpenState = true"
                                                 (closed)="section.panelOpenState = false">

                                <mat-expansion-panel-header>
                                    <mat-panel-title>{{section.label}}</mat-panel-title>
                                    <mat-panel-description>
                                        {{section.panelOpenState ? 'Hide' : 'Show'}} correspondents whose last names start with {{section.label}}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <ul>
                                    <li class="salsah-link" *ngFor="let corr of section.correspondences" (click)="searchForCorrespondence(corr.correspondent1.gnd, corr.correspondent2.gnd)">
                                        {{corr.correspondent2.name}}
                                    </li>
                                </ul>

                            </mat-expansion-panel>
                        </mat-accordion>
                    </li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div>
        <h3>Known Problems</h3>
        This is a beta release and the BEOL platform is still under development. Please find below the issues we are already aware of:
        <ul>
            <li>Mathematics is rendered slowly on the result list of a fulltext search (<a target="_blank" href="https://github.com/dhlab-basel/Salsah/issues/184">#184</a>)</li>
        </ul>
    </div>

    <div>
        <h3>Feedback</h3>
        <div>In case you experience any problems using the BEOL Beta Release or have suggestions on how to improve the platform, <br>please contact us using our <a href="/contact">contact form</a> or send an email to a member of  <a target="_blank" href="http://dhlab.unibas.ch/tobias-schweizer">the BEOL team</a>.</div>

    </div>

    <div>
        <h3>About Us</h3>
        <div>
            BEOL is a project funded by the Swiss National Science Foundation. It is a collaboration between the <a target="_blank" href="http://bez.unibas.ch">Bernoulli-Euler Centre</a> and the <a target="_blank" href="http://www.dhlab.unibas.ch">Digital Humanities Lab</a> (both University of Basel).
        </div>
    </div>
</div>
