<!-- the next element -- div.extended-search-panel -- is a hidden dropdown filter menu -->

<div class="search-panel" [class.active]="searchPanelFocus">
    <div>
        <button class="prefix" (click)="doSearch(search)">
            <mat-icon>search</mat-icon>
        </button>
    </div>

    <div class="input-field">
        <input #search autocomplete="off"
               type="search" [placeholder]="searchLabel"
               [(ngModel)]="searchQuery" name="search"
               (keyup.esc)="resetSearch(search)"
               (keyup)="onKey(search, $event)"
               (click)="setFocus()"
               (focus)="toggleMenu('simpleSearch')" [disabled]="focusOnExtended === 'active'"/>
    </div>

    <!-- switch button:
            - default button is the filter button;
            - but on some focus we need a close button for the simple or extended panel
    -->
    <div>
        <button class="suffix" *ngIf="focusOnSimple === 'active'" (click)="resetSearch(search)">
            <mat-icon class="mat-24">close</mat-icon>
        </button>
        <button class="suffix" *ngIf="focusOnSimple === 'inactive'" (click)="toggleMenu('extendedSearch')">
            <mat-icon>filter_list</mat-icon>
        </button>
    </div>

    <!-- the search panel has two "dropdown" menus: one for simple search and another one for the extended search -->
    <div class="salsah-menu simple-search" [@simpleSearchMenu]="focusOnSimple">
        <button mat-button class="right" (click)="resetPrevSearch()" *ngIf="prevSearch">Clear</button>
        <mat-list class="salsah-previous-search-list">
            <mat-list-item *ngFor="let item of prevSearch | reverse; let i=index">
                <mat-icon mat-list-icon (click)="resetPrevSearch(item)">close</mat-icon>
                <h4 mat-line *ngIf="i<10" (click)="doPrevSearch(item)">{{item}}</h4>
            </mat-list-item>
        </mat-list>
    </div>

    <div class="salsah-menu extended-search" [@extendedSearchMenu]="focusOnExtended">
        <div class="salsah-menu-header">
        <span class="salsah-menu-title">
            Extended search
        </span>
            <span class="salsah-menu-action">
            <button mat-icon-button (click)="toggleMenu('extendedSearch')">
                <mat-icon>close</mat-icon>
            </button>
        </span>
        </div>
        <salsah-extended-search (toggleExtendedSearchForm)="toggleMenu('extendedSearch')"></salsah-extended-search>
    </div>
</div>


