// general border radius
$border-radius: 4px;


// sizes for search element
$search-width: 560px;
$search-height: $search-width;


// color definitions
$bright: rgba(249, 249, 249, 1);
$dark:  rgba(41, 41, 41, 0.4);

$accent: rgba(255, 196, 0, 1);
$primary: rgba(0, 105, 92, 1);

// $error: orangered;
// $warning: rgba($accent, 0.5);
