/* Copyright © 2016 Lukas Rosenthaler, André Kilchenmann, Andreas Aeschlimann,
 * Sofia Georgakopoulou, Ivan Subotic, Benjamin Geer, Tobias Schweizer.
 * This file is part of SALSAH.
 * SALSAH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * SALSAH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * You should have received a copy of the GNU Affero General Public
 * License along with SALSAH.  If not, see <http://www.gnu.org/licenses/>.
 * */

//
// disable browser's input type appearance
//
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="file"] {
    display: none;
}
//
//
.md-dialog-container md-dialog-content {
    min-height: 480px;
}
.salsah-form {
    .md-dialog-container section {
        min-height: 480px;
    }
}



input, textarea {
    max-width: 640px;
    width: 100%;
}

div.file-upload-zone {
    width: 100%;
    height: 128px;
    border: 3px dashed #e1e1e1;
    border-radius: 4px;
    .file-dragndrop {
        text-align: center;
    }
    .file-browse {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 128px;
        background: rgba(0, 121, 107, 0.5);
        color: white;
        &:hover, &:active {
            background: rgba(0, 121, 107, 1);
        }
    }

}



.file-upload-wrapper {
    height: 148px;

    width: 100%;

}



.simple-search-panel {
    width: $search-width;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    //    padding: 2px;
    &.small {
        //        width: 560px;
    }
    &.large {
        //        width: 600px;
    }

    input {
        width: $search-width - (2 * 40px);
        height: 38px;
        position: absolute;
        font-size: 14pt;
        border: none;
        &:active,
        &:focus {
            outline: none;
        }
    }

    button.prefix, button.suffix {
        border: none;
        outline: none;
        border-radius: 3px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-color: transparent;
        //        color: rgb(33,33,33);
        color: rgba(0, 0, 0, 0.38);
        &:active {
            color: rgb(81,81,81);
        }
    }
    button.prefix {

    }
    button.suffix {
        float: right;
    }
}

.extended-search-panel {
    width: $search-width;
    min-height: $search-height;
    background-color: white;
    @include box-shadow();
    position: absolute;
    padding-top: 60px;
    z-index: -1;
    border-radius: $border-radius;
    display: none;
}
