.salsah-menu-button {

}

.salsah-menu {
    @include md-box-shadow();
    background-color: white;
    position: absolute;
    border-radius: $border-radius;
    z-index: 1;
    display: none;

    .salsah-menu-header {
        height: 48px;
        width: 100%;
        background-color: $bright;
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        display: inline-block;

        .salsah-menu-title {
            float: left;
            font-size: 14px;
            font-weight: 400;
            padding: 12px;
            margin-top: 4px;

        }

        .salsah-menu-action {
            float: right;
            margin: 4px;
        }
    }
    .salsah-menu-footer {
        width: 100%;
        border-top: 1px solid rgba(0,0,0,0.1);

        .salsah-menu-action-logout {
            width: 100%;
            padding: 12px;
        }
    }

    &.add-menu {
        right: 60px;
    }

    &.user-menu {
        right: 12px;
    }

    &.user-menu, &.add-menu {
        width: 280px;
        top: 6px;

        .mat-grid-tile button {
            width: 84px;
            height: 84px;
            padding: 6px;
            font-size: 11px;
            border-radius: $border-radius;
            .mat-icon {
                font-size: 36px;
                width: 36px;
                height: 36px;
            }
        }
    }

    &.simple-search, &.extended-search {
        width: $search-width;
        min-height: $search-height;
        top: 6px;

    }

    &.simple-search {
        padding-top: 60px;
        z-index: -1;
        .salsah-previous-search-list {
            .mat-list-item {
                cursor: pointer;
                &:hover {
                    background-color: $bright;
                    md-icon {
                        display: block;
                    }
                }
                md-icon {
                    display: none;
                }
            }
        }

    }

    &.extended-search {

    }



}
