/* Copyright © 2016 Lukas Rosenthaler, André Kilchenmann, Andreas Aeschlimann,
 * Sofia Georgakopoulou, Ivan Subotic, Benjamin Geer, Tobias Schweizer.
 * This file is part of SALSAH.
 * SALSAH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * SALSAH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * You should have received a copy of the GNU Affero General Public
 * License along with SALSAH.  If not, see <http://www.gnu.org/licenses/>.
 * */

/* Background Cover Image */
@mixin background-cover($attachment: scroll) {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: $attachment;
    background-image: linear-gradient(rgba(11, 11, 11, 0.2), rgba(11, 11, 11, 0.2));
}
/* ------------------------------------------------------------------------- */

@mixin font-smoothing() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Text Shadow */
@mixin text-shadow() {
    text-shadow: 0 0 4px rgb(11, 11, 11), -1px -1px rgba(66, 66, 66, 0.6), 1px 1px rgba(66, 66, 66, 0.6);
}

/* Box Shadow */
@mixin box-shadow($x: 0px, $y: 1px, $blur: 3px, $alpha: 0.5) {
    -webkit-box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
    -moz-box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
    box-shadow: $x $y $blur rgba(0, 0, 0, $alpha);
}

@mixin box-shadow-bottom($x: 0px, $y: 5px, $blur: 6px, $side: -6px, $alpha: 0.5) {
    -webkit-box-shadow: $x $y $blur $side rgba(0, 0, 0, $alpha);
    -moz-box-shadow: $x $y $blur $side rgba(0, 0, 0, $alpha);
    box-shadow: $x $y $blur $side rgba(0, 0, 0, $alpha);
}
