/* Copyright © 2016 Lukas Rosenthaler, André Kilchenmann, Andreas Aeschlimann,
 * Sofia Georgakopoulou, Ivan Subotic, Benjamin Geer, Tobias Schweizer.
 * This file is part of SALSAH.
 * SALSAH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * SALSAH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * You should have received a copy of the GNU Affero General Public
 * License along with SALSAH.  If not, see <http://www.gnu.org/licenses/>.
 * */


.salsah-component-header {
    position: fixed;
    top: 64px;
    width: 100vw;
    z-index: 99;

    md-toolbar {
        z-index: 90;
        padding-left: 64px;
        padding-right: 64px;
        @include box-shadow-bottom();

        &.salsah-admin-header {

            .salsah-tab-group {
                margin-bottom: -20px;

                .salsah-tab-item {
                    line-height: 48px;
                    height: 48px;
                    padding: 0 12px;
                    font-size: 14px;
                    font-weight: 500;
                    cursor: pointer;
                    box-sizing: border-box;
                    opacity: 0.6;
                    min-width: 160px;
                    text-align: center;
                    display: inline;
                    &.active {
                        border-bottom: 2px solid teal;
                    }

                    &:active {
                        border-bottom: 2px solid teal;
                        background-color: rgba(teal, 0.08);
                    }
                }
            }
        }
    }
    div.loading {

    }
}

.salsah-results-view {
    padding-top: 48px;
    padding-bottom: 48px;
}


.salsah-component-content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    z-index: 0;

    .list-view {
        .md-list-item {
            height: 128px;
            img {
                border-radius: 0;
                width: 128px;
                height: 80%;
                object-fit: cover;
            }
            .md-list-text {
                [md-line] {
                    overflow: hidden;
                }
            }
        }
    }
    .grid-view {
        md-card {
            cursor: pointer;
            margin: 6px;
            width: 100%;
            height: 88%;
            .salsah-preview-image {
                height: 240px;
                object-fit: cover;
            }
            .salsah-preview-text {
                &:after {
                    content: '...';
                }
            }
            p.prop-val {

                &.second {

                }
            }
        }
    }

}


.salsah-dashboard {
    md-card {
        margin: 2px;
    }

    md-grid-tile {
        ::content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    .salsah-component-header {
        position: relative;
        top: 0;
        width: auto;
    }

    img.salsah-main-logo {
        width: 320px;
        height: auto;
    }
}


