/* Copyright © 2016 Lukas Rosenthaler, André Kilchenmann, Andreas Aeschlimann,
 * Sofia Georgakopoulou, Ivan Subotic, Benjamin Geer, Tobias Schweizer.
 * This file is part of SALSAH.
 * SALSAH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * SALSAH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * You should have received a copy of the GNU Affero General Public
 * License along with SALSAH.  If not, see <http://www.gnu.org/licenses/>.
 * */


.salsah-module-header {
    position: fixed;
    top: 64px;
    width: 100vw;
    z-index: 99;
    @include box-shadow-bottom();

    md-toolbar {
        z-index: 90;
        padding-left: 64px;
        padding-right: 64px;

        &.transparent {
            background: none;
        }

        .salsah-tab-group {
            margin-bottom: -20px;

            .salsah-tab-item {
                line-height: 48px;
                height: 48px;
                padding: 0 12px;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                box-sizing: border-box;
                opacity: 0.6;
                min-width: 160px;
                text-align: center;
                display: inline;
                &.active {
                    border-bottom: 2px solid teal;
                }

                &:active {
                    border-bottom: 2px solid teal;
                    background-color: rgba(teal, 0.08);
                }
            }
        }
    }
    div.loading {

    }
}

/*
.salsah-results-view {
    padding-top: 48px;
    padding-bottom: 48px;
}
*/

.salsah-module-content {
    top: 128px;
    position: fixed;
    overflow-y: auto;
    z-index: 0;
    height: calc(100vh - 128px - 24px);

    &.router-outlet {
        width: 100vw;
    }

    &.without-header {
        width: calc(100vw - 240px);
        padding-left: 120px;
        padding-right: 120px;
        height: calc(100vh - 64px - 24px);
        top: 64px;
    }

    .salsah-main-list {
        width: calc(100vw - 228px);
        height: auto;
        min-height: calc(100vh - 128px - 24px);
        padding-left: 120px;
        padding-right: 108px; // plus 12px for the scroll bar

        &.small.left {
            width: 400px;
            padding: 0;
            border-right: 1px solid #c1c1c1;

            h2 {
                padding-left: 12px;
            }

        }
        &.small.top {
            border-bottom: 1px solid #c1c1c1;
            // TODO: give the user the possibility to change the view as preview/resource-view from left/right to top/bottom
        }

    }

    .salsah-main-view {
        position: fixed;
        padding: 24px;
        &.right {
            width: calc(100vw - 400px - 48px);
            left: 400px;
            top: 128px;
            max-height: 100%;
            overflow-x: auto;
        }

        &.bottom {

        }

        button.right {
            position: fixed;
            right: 24px;
        }

    }

    md-list {
        .mat-list-item {
            cursor: pointer;
            &.highlight {
                background-color: $bright;
            }
            &:hover {
//                @include box-shadow();
                background-color: $bright;
            }
        }
    }

    .list-view {
        .mat-list-item {
            min-height: 112px;
            margin-top: 8px;
            margin-bottom: 8px;
            &:hover {
                @include box-shadow();
            }
            img {
                border-radius: 0;
                width: 96px;
                height: 96px;
                object-fit: cover;
                margin-top: 36px;
            }
            .mat-list-text {
                [md-line] {
                    overflow: hidden;
                }
            }
        }
    }
    .grid-view {
        md-card {
            cursor: pointer;
            margin: 6px;
            width: 100%;
            height: 88%;
            max-width: 400px;
            .salsah-preview-image {
                height: 240px;
                object-fit: cover;
            }
            .salsah-preview-text {
                &:after {
                    content: '...';
                }
            }
            p.prop-val {

                &.second {

                }
            }
        }
    }

}


salsah-dashboard {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    md-card {
        margin: 2px;
    }

    md-grid-tile {
        ::content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    md-list {
        width: 420px;
        .mat-list-item {
            cursor: pointer;
            &:hover {
                @include box-shadow();
                background-color: white;
            }
        }
    }



    .salsah-module-header {
        position: relative;
        top: 0;
        width: auto;
    }

    img.salsah-main-logo {
        width: 320px;
        height: auto;
    }
}


