/* Copyright © 2016 Lukas Rosenthaler, André Kilchenmann, Andreas Aeschlimann,
 * Sofia Georgakopoulou, Ivan Subotic, Benjamin Geer, Tobias Schweizer.
 * This file is part of SALSAH.
 * SALSAH is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * SALSAH is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * You should have received a copy of the GNU Affero General Public
 * License along with SALSAH.  If not, see <http://www.gnu.org/licenses/>.
 * */


@import 'mixins';
@import 'config';
@import 'error';
@import 'progress';
@import 'framework';

@import 'listing';
@import 'form';
@import 'menu';


//
//  general html style

html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    margin: 0 0 24px; /* bottom = footer height */
}

a {
    text-decoration: none;
    color: $primary;
    &:hover {
        color: darken($bright, 50%);
    }
}

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------

//
//  Overlay element:
//  it hides the content of salsah in the case of
//  modal pop-ups or dropdown animations

.salsah-overlay {
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: $dark;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &.fullscreen {
        z-index: 100;
        background-color: $bright;
        display: block;
    }
}
//  -- /salsa-overlay --

// ----------------------------------------------------------------------------
// ----------------------------------------------------------------------------

//
// general elements

.salsah-text {
    line-height: 1.5;
}

.salsah-link {
    cursor: pointer;
    &:hover {
        background-color: $bright;
    }
    &.highlight, &:active {
        background-color: darken($bright, 25%);
    }
}

.highlight:hover {
    background-color: darken($bright, 25%);
}

.salsah-avatar-image {
    border-radius: 50%;
}

.fill-remaining-space {
    flex: 1 1 auto
}

.show {
    display: block;
}
.mute, .inactive {
    color: darken($bright, 50%);
}
.hide {
    display: none;
}

.transparent {
    background: none;
}

.half-width {
    width: 50%;
}

.full-width {
    width: 100%;
}

.golden-ratio-small-width {
    width: 39%;
}
.golden-ratio-large-width {
    width: 61%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.previous, .back, .left {
    float: left;
}
.forward, .next, .right {
    float: right;
}

.no-shadow {
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}
.fix-width {
    width: 100%;
    max-width: 640px;
    min-width: 480px;
}

