.salsah-overlay-header {
    text-align: center;
    z-index: 150;
    position: relative;
    width: 100vw;
    height: 200px;
    padding-top: 50px;
}

.salsah-overlay-header img.logo {
    height: 72px;
    cursor: pointer;
}
.salsah-overlay-header p {
    text-transform: uppercase;
}

.salsah-overlay-footer {
    z-index: 150;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: 72px;
}

.salsah-overlay-footer h4 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
}
.salsah-overlay-footer h5 {
    margin-top: -8px;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0,0,0, 0.54);
}

.salsah-login {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    z-index: 150;
    position: relative;
}

md-card-content.sign_up {
    margin-top: 24px;
}

