<md-grid-list class="salsah-grid-list" [cols]="cols" gutterSize="12px" rowHeight="480px">
    <md-grid-tile *ngFor="let res of result.subjects; let i = index"
                  (click)="open(res.obj_id, i)"
                  [id]="res.obj_id">

        <md-card [class.highlight]="i == selectedRow"
                 class="salsah-link">
            <img md-card-image [src]="res.preview_path" class="salsah-preview-image" />

            <md-card-content>
                <md-card-title>{{res.value[0] | slice:0:40}}</md-card-title>
                <md-card-subtitle class="salsah-preview-text">{{res.valuelabel[1]}}<br> {{res.value[1] | slice:0:120}}</md-card-subtitle>
            </md-card-content>

        </md-card>

    </md-grid-tile>
</md-grid-list>
