.cdk-overlay-pane {
  margin: auto;
  max-width: 100vw !important;

  &.resizable {

    .mat-dialog-container {
      padding: 0;

      .mat-dialog-content {
        max-height: calc(100vh - 64px);
      }
    }
  }

  .mat-dialog-container {
    min-width: 480px;
  }

}

