.salsah-error, .salsah-warning, .salsah-note {
    margin: 100px auto;
    mat-card-subtitle {

    }
    mat-card-title {

    }
    mat-card-content {
        margin-top: 48px;
        margin-bottom: 48px;

        mat-list-item {

        }
    }
    mat-card-actions {
        text-align: center;
    }
}

.salsah-error {
    background-color: lightcoral;

}

.salsah-warning {
    background-color: lightyellow;
}

.salsah-note {
    background-color: lightgoldenrodyellow;
}



mat-card.salsah-api-error {

    //  box-shadow: none;

}

mat-card.salsah-api-warning {

    //  box-shadow: none;
    max-width: 640px;
    margin: 100px auto;
    mat-icon {
        float: right;
    }
}

mat-card.salsah-page-error {
    box-shadow: none;
    max-width: 640px;
    margin: 60px auto;

}

.salsah-warning {
    width: 100%;
}

mat-card.salsah-hint {

    max-width: 640px;
    margin: 60px auto;
    mat-icon {
        float: right;
    }

}

mat-card.salsah-developer-hint {
    background-color: lightgoldenrodyellow;
    max-width: 640px;
    margin: 60px auto;
    mat-icon {
        float: right;
    }
}
