// salsah has three types of list views
// a) simple list
// b) grid list
// c) table list

// a) simple list
.salsah-list {

  .salsah-list-item {
    margin-bottom: 8px;
    margin-top: 8px;

    .salsah-preview-image {
      border-radius: 0;
    }
  }

}

// b) grid list
.salsah-grid-list {

  .salsah-grid-tile {
    max-height: 308px;
    //    max-width: 208px;

  }
}

.mat-card.salsah-preview {
  background: transparent;
  height: 100%;
  max-height: 300px;
  //  max-width: 200px;
  padding: 0 12px;
  width: 90%;
  word-wrap: break-word;

  .salsah-preview-image {
    height: 153px;
    margin: 6px -6px -6px;
    object-fit: contain;
    width: 190px;
  }

  .salsah-preview-icon {
    display: block;
    height: 153px;
    margin: 0 auto;
    object-fit: contain;
    width: 48px;
  }

  .salsah-preview-title,
  .salsah-preview-text {
    margin: 0 -24px 0 0;
    max-width: 100%;
  }

  .salsah-preview-title {
    font-size: 14px;
    font-weight: bolder;
    height: 34px;
  }

  .salsah-preview-text {
    font-size: 12px;
  }
}

// c) table list
.salsah-table {
  border-collapse: collapse;
  width: 100%;

  tr {
    @include border-bottom();
    height: 48px;

    .hidden {
      display: none;
    }

    &:not(:first-child):hover {
      background-color: darken($bright, 25%);

      .hidden {
        display: block;
      }
    }

    td,
    th {

      &:not(:first-child) {
        min-width: 156px;
      }

      padding: 12px;
      text-align: left;
    }
  }

  .salsah-avatar-cell {
    text-align: center;
    width: 48px;
  }
}

salsah-dashboard {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;

  md-card {
    margin: 2px;
  }

  .salsah-module-header {
    position: relative;
    top: 0;
    width: auto;
  }

  .salsah-main-logo {
    height: auto;
    width: 320px;
  }
}


