// a main salsah module can have a header and a footer (both are optional) plus a content
.salsah-module {
  box-sizing: border-box;
  display: block;
  height: 100%;
  margin-top: $header-height;
  overflow: hidden;
  width: 100%;

  &.without-header {
    .salsah-module-scroll-area {
      height: calc(100vh - #{$header-height});
    }
  }

  &.with-header {
    .salsah-module-scroll-area {
      height: calc(100vh - (#{$header-height} + #{$module-header-height}));
    }
  }
}

//
// (optional) salsah module header
// for a sub menu with tabs or for information of search results

.salsah-module-header.mat-toolbar {
  @include border-bottom();
  height: $module-header-height;
  max-height: $module-header-height;
  min-height: $module-header-height;
  z-index: 9;

  .mat-toolbar-row {
    height: $module-header-height;

    nav {
      margin: 0;
    }
  }
}

//
// important: fixed scroll area

.salsah-module-scroll-area {
  bottom: $footer-height;
  box-sizing: border-box;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  width: 100%;

  .salsah-module-content {
    padding: 48px 24px 96px;
  }

  .salsah-module-content,
  .salsah-module-detail {
    margin-left: auto;
    margin-right: auto;

    &.small {
      @include border-right();
      left: 0;
      padding: 0;
      position: absolute;
      width: $sidebar-width;
    }

    &.medium {
      max-width: 900px;
    }

    &.large {
      padding: 0;
      width: 100%;
    }

    h2,
    h3 {
//      padding-left: 12px;
    }

  }

}



.salsah-module-detail {
  left: $sidebar-width;
  overflow-y: hidden;
//    width: calc(100vw - #{$sidebar-width});

  .salsah-module-detail-header {
    //      display: inline-flex;
    position: fixed;
    right: 0;
    //      right: 12px;
    top: $module-header-height;
    width: calc(100vw - #{$sidebar-width});
    z-index: 5;
  }

  .salsah-module-detail-content {
    box-sizing: border-box;
    display: block;
    outline: 0;
    overflow-y: auto;
    padding: 48px;
    position: absolute;
    width: calc(100vw - #{$sidebar-width} - (2 * 48px));
  }
}

.salsah-module-footer {
  display: flex;
  padding: 0 24px;

}



