<mat-form-field *ngIf="propertiesAsArray?.length > 0">
    <mat-select placeholder="Properties" [formControl]="form.controls['property']">
        <mat-option *ngFor="let prop of propertiesAsArray" [value]="prop.id">{{ prop.label }}</mat-option>
    </mat-select>
</mat-form-field>

<mat-checkbox *ngIf="propertySelected !== undefined && sortCriterion()" [formControl]="form.controls['isSortCriterion']">sort criterion</mat-checkbox>

<specify-property-value #specifyPropertyValue [formGroup]="form" *ngIf="propertySelected !== undefined" [property]="propertySelected"></specify-property-value>

