<div *ngIf="!isLoading && !errorMessage; else errorMsg">

    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
        <!-- ------------------------------------------------------------------
            1.  add' or 'create new' user starts always with the user's email address;
                it's an auto complete form, which checks, if the user already exists
        ------------------------------------------------------------------- -->
        <mat-step [stepControl]="userFormGroup">
            <form [formGroup]="userFormGroup" class="salsah-form-content">
                <ng-template matStepLabel>{{ 'salsahLabels.form.user.title.formWizard.step_1' | translate }}</ng-template>

                <!-- auto complete list to select user -->
                <mat-form-field class="large">

                    <input matInput
                           [matAutocomplete]="user"
                           [formControl]="userFormGroup.controls['username']"
                           [placeholder]="'salsahLabels.form.user.title.select' | translate">

                    <button mat-button color="primary" matSuffix matStepperNext [disabled]="!userFormGroup.valid"
                            (click)="setSelected()">
                        {{ 'salsahLabels.form.action.next' | translate }}
                    </button>

                    <mat-autocomplete #user="matAutocomplete">
                        <mat-option *ngFor="let user of filteredUsers | async"
                                    [value]="user?.name"
                                    (onSelectionChange)="resetSelected()">
                            {{ user?.label }}
                        </mat-option>
                    </mat-autocomplete>

                    <mat-hint *ngIf="userFormErrors.username">
                        {{ userFormErrors.username }}
                    </mat-hint>

                </mat-form-field>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>


<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>
</ng-template>

<!--
<div class="salsah-step-by-step-form">
    <!-- form header with form stepper -->
    <!--
    <div class="salsah-form-stepper">
        <salsah-progress-stepper *ngIf="steps || max_steps" [steps]="steps"
                                 [counter]="counter"></salsah-progress-stepper>
    </div>
    <br>
    --

    <salsah-progress-indicator *ngIf="isLoading"></salsah-progress-indicator>

    <div class="salsah-form-content" *ngIf="!isLoading">
        <mat-accordion class="headers-align">

            <mat-expansion-panel [expanded]="step === 0" hideToggle="true">
                <!-- header --
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <span *ngIf="!iri">{{ 'salsahLabels.form.project.title.new' | translate }}</span>
                        <span *ngIf="iri">{{ 'salsahLabels.form.project.title.edit' | translate }}</span>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{formLabels.project.subtitle}}
                        <mat-icon>content_paste</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
                    <!-- short and long name --
                    <mat-form-field class="small">
                        <input matInput [salsahFocus]="step === 1"
                               placeholder="{{'salsahLabels.form.project.general.shortCode' | translate}} * "
                               [maxlength]="shortcodeMaxLength"
                               [formControl]="form.controls['shortcode']">
                        <mat-hint *ngIf="formErrors.shortcode">
                            {{ formErrors.shortcode }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- short name --
                    <mat-form-field class="medium">
                        <input matInput [salsahFocus]="step === 1"
                               [maxlength]="shortnameMaxLength"
                               placeholder="{{'salsahLabels.form.project.general.shortName' | translate}} * "
                               [formControl]="form.controls['shortname']">
                        <mat-hint *ngIf="formErrors.shortname">
                            {{ formErrors.shortname }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- long name --
                    <mat-form-field class="large">
                        <input matInput
                               [placeholder]=" 'salsahLabels.form.project.general.longName' | translate "
                               [formControl]="form.controls['longname']">
                        <mat-hint *ngIf="formErrors.longname">
                            {{ formErrors.longname }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- description --
                    <mat-form-field class="large">
                        <textarea matInput rows="6"
                                  [placeholder]=" 'salsahLabels.form.project.general.description' | translate "
                                  [formControl]="form.controls['description']">
                        </textarea>
                        <br>
                        <mat-hint *ngIf="formErrors.description">
                            {{ formErrors.description }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- institution --
                    <mat-form-field class="large">
                        <input matInput
                               placeholder="{{'salsahLabels.form.project.general.institution' | translate}}"
                               [formControl]="form.controls['institution']">
                        <mat-hint *ngIf="formErrors.institution">
                            {{ formErrors.institution }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- keywords --
                    <mat-form-field class="large">
                        <input matInput
                               [placeholder]=" 'salsahLabels.form.project.general.keywords' | translate "
                               [formControl]="form.controls['keywords']">
                        <mat-hint *ngIf="formErrors.keywords">
                            {{ formErrors.keywords }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- upload logo --
                    <salsah-file-uploader (uploadStatus)="sipiUpload($event)"></salsah-file-uploader>
                    <!-- the form needs an input field for the logo name
                        the following input will be hidden and it gets the file name from the salsah-file-uploader --
                    <br>

                    <input matInput [hidden]="false"
                           [placeholder]=" 'salsahLabels.form.project.general.logo.name' | translate "
                           [formControl]="form.controls['logo']"
                           formControlName="logo">

                    <!-- footer --
                    <mat-action-row>
                        <div *ngIf="iri">
                            <!-- delete project --
                            <button *ngIf="project.status === true"
                                    mat-button color="warn"
                                    (click)="deactivateProject($event, iri)">
                                {{ 'salsahLabels.form.general.deactivate' | translate }}
                            </button>
                            <!-- activate project --
                            <button *ngIf="project.status !== true"
                                    mat-button color="warn"
                                    (click)="activateProject($event, iri)">
                                {{ 'salsahLabels.form.general.activate' | translate }}
                            </button>
                        </div>
                        <span class="fill-remaining-space"></span>
                        <!-- checkbox, which activates the add user dialog form --
                        <button mat-raised-button
                                [disabled]="!form.valid"
                                color="primary"
                                (click)="submitData()">
                            <span *ngIf="!iri">{{ 'salsahLabels.form.action.submit' | translate }}</span>
                            <span *ngIf="iri">{{ 'salsahLabels.form.action.update' | translate }}</span>

                        </button>
                    </mat-action-row>
                </form>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>

-->
