<div class="salsah-step-by-step-form">
    <!-- form header with form stepper -->
    <!--
    <div class="salsah-form-stepper">
        <salsah-progress-stepper *ngIf="steps || max_steps" [steps]="steps"
                                 [counter]="counter"></salsah-progress-stepper>
    </div>
    <br>
    -->

    <salsah-progress-indicator *ngIf="isLoading"></salsah-progress-indicator>

    <div class="salsah-form-content" *ngIf="!isLoading">
        <mat-accordion class="headers-align">

            <mat-expansion-panel [expanded]="step === 0" hideToggle="true">
                <!-- header -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ 'salsahLabels.projectFormLabels.project.title' | translate }}
                    </mat-panel-title>
                    <mat-panel-description>
                        {{formLabels.project.subtitle}}
                        <mat-icon>content_paste</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
                    <!-- short and long name -->
                    <mat-form-field class="small">
                        <input matInput [salsahFocus]="step === 1"
                               [placeholder]=" 'salsahLabels.projectFormLabels.project.shortname' | translate "
                               [maxlength]="shortcodeMaxLength"
                               [placeholder]="formLabels.project.shortcode + ' *'"
                               [formControl]="form.controls['shortcode']">
                        <mat-hint *ngIf="formErrors.shortcode">
                            {{ formErrors.shortcode }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- short name -->
                    <mat-form-field class="medium">
                        <input matInput [salsahFocus]="step === 1"
                               [maxlength]="shortnameMaxLength"
                               [placeholder]="formLabels.project.shortname + ' *'"
                               [formControl]="form.controls['shortname']">
                        <mat-hint *ngIf="formErrors.shortname">
                            {{ formErrors.shortname }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- long name -->
                    <mat-form-field class="large">
                        <input matInput
                               [placeholder]=" 'salsahLabels.projectFormLabels.project.longname' | translate "
                               [formControl]="form.controls['longname']">
                        <mat-hint *ngIf="formErrors.longname">
                            {{ formErrors.longname }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- description -->
                    <mat-form-field class="large">
                        <textarea matInput rows="6"
                                  [placeholder]=" 'salsahLabels.projectFormLabels.project.description' | translate "
                                  [formControl]="form.controls['description']">
                        </textarea>
                        <br>
                        <mat-hint *ngIf="formErrors.description">
                            {{ formErrors.description }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- institution -->
                    <mat-form-field class="large">
                        <input matInput
                               [placeholder]="formLabels.project.institution"
                               [formControl]="form.controls['institution']">
                        <mat-hint *ngIf="formErrors.institution">
                            {{ formErrors.institution }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- keywords -->
                    <mat-form-field class="large">
                        <input matInput
                               [placeholder]=" 'salsahLabels.projectFormLabels.project.keywords' | translate "
                               [formControl]="form.controls['keywords']">
                        <mat-hint *ngIf="formErrors.keywords">
                            {{ formErrors.keywords }}
                        </mat-hint>
                    </mat-form-field>

                    <!-- upload logo -->
                    <salsah-file-uploader (uploadStatus)="sipiUpload($event)"></salsah-file-uploader>
                    <!-- the form needs an input field for the logo name
                        the following input will be hidden and it gets the file name from the salsah-file-uploader -->
                    <br>

                    <input matInput [hidden]="false"
                           [placeholder]=" 'salsahLabels.projectFormLabels.project.logo.name' | translate "
                           [formControl]="form.controls['logo']"
                           formControlName="logo">

                    <!-- footer -->
                    <mat-action-row>
                        <div *ngIf="iri">
                            <!-- delete project -->
                            <button *ngIf="project.status === true"
                                    mat-button color="warn"
                                    (click)="deactivateProject($event, iri)">
                                {{formLabels.navigation.deactivate}}
                            </button>
                            <!-- activate project -->
                            <button *ngIf="project.status !== true"
                                    mat-button color="warn"
                                    (click)="activateProject($event, iri)">
                                {{formLabels.navigation.activate}}
                            </button>
                        </div>
                        <span class="fill-remaining-space"></span>
                        <!-- checkbox, which activates the add user dialog form -->
                        <button mat-raised-button
                                [disabled]="!form.valid"
                                color="primary"
                                (click)="submitData()">
                            {{ 'salsahLabels.projectFormLabels.navigation.submit' | translate }}
                        </button>
                    </mat-action-row>
                </form>
            </mat-expansion-panel>

        </mat-accordion>
    </div>
</div>

