<div class="salsah-step-by-step-form">
    <!-- form header with form stepper -->
    <!--
    <div class="salsah-form-stepper">
        <salsah-progress-stepper *ngIf="steps || max_steps" [steps]="steps"
                                 [counter]="counter"></salsah-progress-stepper>
    </div>
    <br>
    -->

    <salsah-progress-indicator *ngIf="isLoading"></salsah-progress-indicator>

    <div class="salsah-form-content" *ngIf="!isLoading">
        <md-accordion class="headers-align">

            <md-expansion-panel [expanded]="step === 0" *ngIf="!iri"
                                hideToggle="false">
                <!-- header -->
                <md-expansion-panel-header>
                    <md-panel-title>
                        {{formLabels.project.title}}
                    </md-panel-title>
                    <md-panel-description>
                        &nbsp;
                        <md-icon>content_paste</md-icon>
                    </md-panel-description>
                </md-expansion-panel-header>

                <form [formGroup]="form" (ngSubmit)="onSubmit(form.value, form.valid)">
                    <!-- short and long name -->
                    <md-form-field class="small">
                        <input mdInput [salsahFocus]="step === 1"
                               [placeholder]="formLabels.project.shortname + ' *'"
                               [formControl]="form.controls['shortname']">
                        <md-hint *ngIf="formErrors.shortname">
                            {{ formErrors.shortname }}
                        </md-hint>
                    </md-form-field>
                    <md-form-field class="medium">
                        <input mdInput
                               [placeholder]="formLabels.project.longname + ' *'"
                               [formControl]="form.controls['longname']">
                        <md-hint *ngIf="formErrors.longname">
                            {{ formErrors.longname }}
                        </md-hint>
                    </md-form-field>

                    <!-- description -->
                    <md-form-field class="large">
                        <textarea mdInput rows="6"
                                  [placeholder]="formLabels.project.description"
                                  [formControl]="form.controls['description']">
                        </textarea>
                        <md-hint *ngIf="formErrors.description">
                            {{ formErrors.description }}
                        </md-hint>
                    </md-form-field>

                    <!-- keywords -->
                    <md-form-field class="large">
                        <input mdInput
                               [placeholder]="formLabels.project.keywords"
                               [formControl]="form.controls['keywords']">
                        <md-hint *ngIf="formErrors.keywords">
                            {{ formErrors.keywords }}
                        </md-hint>
                    </md-form-field>

                    <!-- upload logo -->
                    <salsah-file-uploader [file]="logo" (setFiles)="getFiles($event)"></salsah-file-uploader>
                    <!-- the form needs an input field for the logo name
                        the following input will be hidden and it gets the file name from the salsah-file-uploader -->
                    <br>
                    <input [placeholder]="formLabels.project.logo.name"
                           formControlName="logo">

                    <!-- footer -->
                    <md-action-row>
                        <!-- checkbox, which activates the add user dialog form -->
                        <button md-raised-button
                                [disabled]="!form.valid"
                                color="primary"
                                (click)="submitData()">
                            {{formLabels.navigation.submit}}
                        </button>
                    </md-action-row>
                </form>
            </md-expansion-panel>

        </md-accordion>
    </div>
</div>

