<!-- salsah-team-admin -->
<div class="salsah-main-list" [ngClass]="[position.preview, size]">
    <h2 md-header>Organize your team</h2>
    <button md-button (click)="addNewUser()">
        <md-icon> add</md-icon>
        <span> Add new person </span>
    </button>

    <md-list>
        <br>
        <br>
        <md-divider></md-divider>
        <br>
        <h3 md-subheader>Project Admin</h3>
        <salsah-api-error *ngIf="errorMessage" [error]="errorMessage"></salsah-api-error>
        <md-list-item *ngFor="let member of members.members; let i = index"
                      (click)="openUser(member.email, i);"
                      [class.highlight]="i == selectedRow">
            <!--<md-list-item *ngFor="let admin of project.admins">-->
            <md-icon md-list-avatar>person</md-icon>
            <h4 md-line>{{member?.lastname}}, {{member?.firstname}}</h4>
            <p md-line> {{member?.email}} </p>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Project Member</h3>
        <md-list-item>
            <!--<md-list-item *ngFor="let member of project.members">-->
            <md-icon md-list-avatar>person_outline</md-icon>
            <h4 md-line>Lastname, PreName</h4>
            <p md-line> function bla bla </p>
        </md-list-item>
    </md-list>
</div>


<div *ngIf="user" class="salsah-main-view" [ngClass]="position.detail">
    <button md-icon-button (click)="closeDetailView()" class="right">
        <md-icon>close</md-icon>
    </button>

    <salsah-api-error *ngIf="errorMessage" [error]="errorMessage"></salsah-api-error>
    <h3 md-subheader>{{user.userProfile?.userData.lastname}}, {{user.userProfile?.userData.firstname}}</h3>
    <p>{{user.userProfile?.userData.email}}</p>

    <md-list>
        <md-divider></md-divider>
        <h3 md-header>Projects</h3>
        <md-list-item *ngFor="let project of user.userProfile?.projects">
            <h4 md-line>{{project}}</h4>
            <p md-line *ngFor="let group of user.userProfile?.permissionData.groupsPerProject[project]">
                - {{group}}
            </p>
        </md-list-item>
    </md-list>


</div>