<div class="salsah-list salsah-module-content" [ngClass]="[position.preview, size]">
    <h2 md-header>Organize your team</h2>

    <salsah-user-select></salsah-user-select>

    <md-list>
        <br>
        <md-divider></md-divider>
        <br>
        <h3 md-subheader>Project Admin</h3>
        <salsah-message *ngIf="errorMessage" [error]="errorMessage"></salsah-message>

        <md-list-item *ngFor="let member of members.members; let i = index"
                      (click)="openUser(member.email, i);"
                      class="salsah-link"
                      [class.highlight]="i == selectedRow">
            <!--<md-list-item *ngFor="let admin of project.admins">-->
            <md-icon md-list-avatar>person</md-icon>
            <h4 md-line>{{member?.lastname}}, {{member?.firstname}}</h4>
            <p md-line> {{member?.email}} </p>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>Project Member</h3>
        <md-list-item>
            <!--<md-list-item *ngFor="let member of project.members">-->
            <md-icon md-list-avatar>person_outline</md-icon>
            <h4 md-line>Lastname, PreName</h4>
            <p md-line> function bla bla </p>
        </md-list-item>
    </md-list>
</div>



<div *ngIf="user" class="salsah-module-detail" [ngClass]="position.detail">
    <md-progress-bar mode="indeterminate" *ngIf="isLoadingSubModule"></md-progress-bar>

    <div class="salsah-module-detail-content">
        <!-- close button -->
        <button md-icon-button (click)="closeDetailView()" class="right">
            <md-icon>close</md-icon>
        </button>

        <salsah-message *ngIf="errorMessage" [error]="errorMessage"></salsah-message>

        <h3 md-subheader>{{user.userProfile?.userData.lastname}}, {{user.userProfile?.userData.firstname}}</h3>
        <p>{{user.userProfile?.userData.email}}</p>

        <md-list>
            <md-divider></md-divider>
            <h3 md-header>Projects</h3>
            <md-list-item *ngFor="let project of user.userProfile?.projects_info | key; let i = index">
                <h4 md-line>{{project.value.longname}}</h4>
                <p md-line>
                    {{project.value.description}}
                </p>
            </md-list-item>
        </md-list>
    </div>
</div>
