@import '../../../../../assets/style/config';

$text: rgba($dark, .6);
/*
input[type="file"]::-webkit-search-decoration,
input[type="file"]::-webkit-search-cancel-button,
input[type="file"]::-webkit-search-deprecated-results-button,
input[type="file"]::-webkit-search-deprecated-results-decoration {
  display: none;
}

input[type="file"] {
  -moz-appearance: none;
  -webkit-appearance: none;
}
*/
.salsah-file-uploader {
  flex-grow: 1;
  padding-right: 12px;
  word-break: break-all;

  .upload-box {
    align-items: center;
    background: $border-color;
    border-radius: $border-radius;
    color: $text;
    display: flex;
    flex-direction: column;
    max-width: 560px;
    min-height: 128px;
    overflow: hidden;
    position: relative;
//    text-align: center;
//    width: 100%;

    &.drag-over {
      border: 2px solid $text;
    }
  }
}

.file-upload-zone {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;

  &.drag-over {
    border: 2px solid $text;
  }

  .x-file-input {
    height: 0;
    max-width: 0;
    opacity: 0;
    width: 1px;
    z-index: -1;
  }

  .x-file-label {
    cursor: pointer;
    display: inline-block;
    padding: 58px 0;
    text-align: center;
    width: 100%;
  }
}

.file-url-zone {
  display: inline-flex;
  padding: 36px 0;
  width: 100%;

  .url-form {
    width: 100%;

    .x-file-url {
      background: $bright;
      border-style: none;
      font-size: 14px;
      margin: 0 0 10px;
      padding: 9px 7px;
      vertical-align: middle;
      width: 80%;
    }

    .x-file-url-submit {
      width: 30%;
    }
  }
}

// buttons
.switch-uploader {
  bottom: 0;
  color: $text;
  display: block;
  left: 0;
  line-height: 12px;
  padding: 10px;
  position: absolute;
  text-decoration: none;
}

.cancel-uploader {
  background: $black-60-opacity;
  border-radius: 4px;
  box-shadow: $border-color;
  color: $bright;
  display: block;
  font-size: 13px;
  line-height: 10px;
  padding: 8px;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 10px;
  z-index: 300;

  // &:hover ???
}

// original style and classes from ghost uploader

.gh-container {
  cursor: default;
  flex-grow: 1;
  hyphens: auto;
  overflow: auto;
  padding-top: 19px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 37px;
  word-break: break-all;
}

.gh-image-uploader {
  align-items: center;
  background: #f6f7f8;
  border-radius: 4px;
  color: #808284;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  flex-direction: column;
  margin: 1.6em 0;
  min-height: 130px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

  // upload form
  .upload-form {
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .x-file--input {
      height: 0;
      max-width: 0;
      opacity: 0;
      width: 1px;
      z-index: -1;
    }
  }

  // url form
  .url-form {
    padding: 55px 60px;
    width: 100%;

    .url {
      background: #fff;
      font-size: 1.4rem;
      margin: 0 0 10px;
      outline: 0;
      padding: 9px 7px;
      vertical-align: middle;
    }
  }

  // some buttons
  .image-upload,
  .image-url {
    bottom: 0;
    color: #7d878a;
    display: block;
    font-size: 14px;
    left: 0;
    line-height: 12px;
    padding: 10px;
    position: absolute;
    text-decoration: none;
  }

  // after upload: delete / cancel
  .image-cancel {
    background: rgba(0, 0, 0, .6);
    border-radius: 4px;
    box-shadow: rgba(255, 255, 255, .2) 0 0 0 1px;
    color: #fff;
    display: block;
    font-size: 13px;
    line-height: 10px;
    padding: 8px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
    z-index: 300;
  }
}


