<div class="salsah-file-uploader">

    <section class="upload-box center" [ngSwitch]="viewType"
             [class.drag-over]="dragStatus">

        <!-- 1) select file (browse or drag'n'drop) -->
        <div class="file-upload-zone" *ngSwitchCase="'upload'" salsahDnd (filesChangeEmitter)="onFileChanges($event)" (filesInvalidEmitter)="onFileInvalids($event)" [allowed_extensions]="['png', 'jpg', 'bmp']" >

            <input id="x-file-upload"
                   class="x-file-input"
                   type="file" accept="image/gif,image/jpg,image/jpeg,image/png,image/svg+xml"
                   (change)="fileChangeEvent($event)">
            <label for="x-file-upload" class="x-file-label">
                Upload an image
            </label>
            <!--
            <div class="upload-form center">

            </div>
            <button type="button" (click)="upload()">Upload</button>
            -->
        </div>

        <!-- OR 2) set file by url -->
        <div class="file-url-zone" *ngSwitchCase="'url'">
            <form class="url-form">
                <input class="x-file-url" placeholder="http://">
                <button class="x-file-url-submit" mat-raised-button [color]="'primary'">Save</button>
            </form>
        </div>
        <!-- AND after upload: 3) show the file (in the case of an image) -->
        <div class="file-preview-zone" *ngSwitchCase="'preview'">
            <img salsahImage [image]="file" [type]="'project'" />
        </div>

        <!-- some buttons to switch the different kind of views above -->
        <!-- position: in the bottom left corner -->
        <button class="switch-uploader" mat-icon-button *ngIf="viewType !== 'preview'" (click)="switchUploader()">
            <!-- 1) switch to file-url-zone -->
            <mat-icon *ngIf="viewType === 'upload'">link</mat-icon>
            <!-- OR 2) switch to file-upload-zone -->
            <mat-icon *ngIf="viewType === 'url'">attach_file</mat-icon>
        </button>

        <!-- AND after upload: 3) cancel button to delete the uploaded file -->
        <!-- position: in the top right corner -->
        <button class="cancel-uploader" mat-icon-button *ngIf="viewType === 'preview'" (click)="deleteFile($event)">
            <mat-icon>delete</mat-icon>
        </button>

    </section>
    <!-- just a view of dropped files -->
    <div class="dropzone-list">
        <ul class="valid">
            <li *ngFor="let file of fileList">
                {{ file.name }}
            </li>
        </ul>
        <ul class="invalid">
            <li *ngFor="let file of invalidFiles">
                {{ file.name }}
            </li>
        </ul>
    </div>
    <!-- /test view -->
</div>

<!--
<section class="gh-container">
    <div id="ember1823" class="ember-view rendered-markdown js-rendered-markdown">
        <section class="js-drop-zone" id="image-uploader-1826">
            <div id="ember1829" class="ember-view">
                <section id="ember1830" class="ember-view gh-image-uploader">
                    <!-- uploader form: 1) drag'n'drop / browse --
                    <div class="upload-form">
                        <span id="ember1842" accept="image/gif,image/jpg,image/jpeg,image/png,image/svg+xml"
                              class="ember-view x-file-input">
                            <input id="n9t2z" tabindex="0"
                                   type="file"
                                   accept="image/gif,image/jpg,image/jpeg,image/png,image/svg+xml"
                                   class="x-file--input ember-view ember-text-field">

                            <label for="n9t2z">
                                <div class="description">Upload an image</div>
                            </label>
                        </span>
                    </div>
                    <!-- OR (switch/toggle) -->
                    <!-- uploader form: 2) set url of image --
                    <form class="url-form">
                        <input id="ember1849" type="text" placeholder="http://"
                               onenter="function (){for(var a=arguments.length,u=Array(a),c=0;c<a;c++)u[c]=arguments[c];o&amp;&amp;u.length>0&amp;&amp;(u[0]=i.get(u[0],o));var d={target:t,args:u,label:n.labelFor(e)};return l.flaggedInstrument(&quot;interaction.ember-action&quot;,d,function(){return s.default.join.apply(s.default,[t,r].concat(u))})}"
                               class="url ember-view gh-input">
                        <button class="btn btn-blue gh-input" data-ember-action="1850">Save</button>
                    </form>
                    <!-- /uploader -->
                    <!-- OR (switch) -->
                    <!-- 3) after upload: show image --
                    <div>
                        <img src="/path/to/uploaded/image.jpg">
                    </div>

                    <!-- button in the left bottom corner -->
                    <!-- 1) switch to url-form --
                    <a class="image-url" data-ember-action="1843">
                        <i class="icon-link">
                            <span class="hidden">URL</span>
                        </i>
                    </a>
                    <!-- OR (switch/toggle) -->
                    <!-- 2) switch (back) to upload-form --
                    <a class="image-upload icon-photos" title="Add image" data-ember-action="1851">
                        <span class="hidden">Upload</span>
                    </a>
                    <!-- OR (switch)-->
                    <!-- 3) after upload: button to delete image --
                    <a class="image-cancel icon-trash" title="Delete" data-ember-action="1887">
                        <span class="hidden">Delete</span>
                    </a>
                    <!-- /button --

                    <button mat-raised-button (click)="upload()"></button>

                </section>
            </div>
        </section>
    </div>
</section>
-->
