.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-chip.salsah-link {
  cursor: pointer;
}

.mat-grid-tile {

  .text-inside-grid {
    position: absolute;
    left: 5px;
  }

  .salsah-avatar-image {
    height: 80%;
    margin-top: 10%;
    width: auto;
  }
}
