<mat-accordion>
    <mat-expansion-panel *ngFor="let item of listData | sortBy: sortProp; let i = index"
                         [hideToggle]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h4>{{item?.user_profile.userData.givenName}} {{item?.user_profile.userData.familyName}}</h4>
            </mat-panel-title>
            <mat-panel-description>
                <mat-chip-list *ngIf="item?.user_profile.permissionData.groupsPerProject[project]">
                            <span *ngFor="let iri of item?.user_profile.permissionData.groupsPerProject[project]">
                                <mat-chip color="primary" selected="true"
                                          *ngIf="iri === 'http://www.knora.org/ontology/knora-base#ProjectAdmin'">admin</mat-chip>
                                <!--
                                <mat-chip *ngIf="iri === 'http://www.knora.org/ontology/knora-base#ProjectMember'">member</mat-chip>
                                -->
                            </span>

                </mat-chip-list>
                <mat-icon>person</mat-icon>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-grid-list cols="4" rowHeight="80px">
            <mat-grid-tile
                    colspan="1"
                    rowspan="2">
                <img salsahImage [image]="item?.user_profile.userData.email" [type]="'user'" class="salsah-avatar-image square"/>
            </mat-grid-tile>
            <mat-grid-tile
                    colspan="3"
                    rowspan="1">
                <div class="text-inside-grid">
                    <a href="mailto:{{item?.user_profile.userData.email}}">{{item?.user_profile.userData.email}}</a>
                </div>
            </mat-grid-tile>
            <mat-grid-tile
                    colspan="3"
                    rowspan="1">
                <div class="text-inside-grid">
                    <p>Member in the following projects</p>
                    <mat-chip-list>
                        <mat-chip *ngFor="let proj of item?.user_profile.projects_info | key"
                                  routerLink="/project/{{proj.value.shortname}}"
                                  class="salsah-link">
                            {{proj.value.shortname}}
                        </mat-chip>
                    </mat-chip-list>
                </div>
            </mat-grid-tile>

        </mat-grid-list>


        <mat-action-row>
            <button mat-button color="primary">edit</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
