
<salsah-progress-indicator *ngIf="userProfile === undefined && !errorMessage"></salsah-progress-indicator>
<salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>

<div *ngIf="userProfile">
    <h3 mat-subheader>{{userProfile?.userData.familyName}}, {{userProfile?.userData.givenName}}</h3>
    <p><a [href]="'mailto:'+userProfile?.userData.email">{{userProfile?.userData.email}}</a></p>
    <p>Preferred language: {{userProfile.userData.lang}}</p>

    <mat-divider></mat-divider>

    <h3 mat-subheader>Member in the following projects</h3>

    <mat-grid-list class="salsah-grid-list" cols="2" gutterSize="12px" rowHeight="480px">
        <mat-grid-tile *ngFor="let project of userProfile?.projects_info | key; let i = index" [id]="project.key">
            <mat-card>
                <img mat-card-image [src]="project.value.logo" class="salsah-preview-image"/>
                <mat-card-title>{{project.value.name}}</mat-card-title>
                <mat-card-subtitle class="salsah-preview-text" [innerHtml]="project.value.description | slice:0:200"></mat-card-subtitle>
            </mat-card>
        </mat-grid-tile>
        -->
        <!--
          <mat-list-item *ngFor="let project of user.userProfile?.projects_info | key; let i = index">
            <h4 mat-line>{{project.value.name}}</h4>
            <div mat-line [innerHtml]="project.value.description"></div>
            <mat-divider></mat-divider>
          </mat-list-item>
          -->

    </mat-grid-list>
</div>

