.salsah-overlay {
  background-color: gray;
  height: 100vh;
  overflow-y: scroll;

  h1,
  h2,
  h3,
  p {
    padding: 12px 48px;
  }
}

.salsah-developer {
  height: auto;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
  width: 1024px;

  &.test-area {
    background-color: white;
    border: 1px solid darkgray;
  }
}
