.salsah-overlay {
    background-color: black;
    color: white;

    h1,
    h2,
    h3 {
        padding: 12px 48px;
    }
}

.salsah-developer {
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 1024px;
    &.test-area {
        border: 1px solid darkgray;
        background-color: white;

    }
}
