.salsah-overlay {
  background-color: gray;

  h1,
  h2,
  h3,
  p {
    padding: 12px 48px;
  }
}

.salsah-developer {
  height: 768px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  width: 1024px;

  &.test-area {
    background-color: white;
    border: 1px solid darkgray;

  }
}
