<div class="salsah-list salsah-module-content" > <!--[ngClass]="[position.preview, size]">-->
    <h2 md-header>My projects</h2>
    <button md-button (click)="addNewProject()">
        <md-icon>add</md-icon>
        <span> Add new project </span>
    </button>

    <md-list>
        <md-divider></md-divider>
        <md-list-item  *ngIf="!ownProfile.projects_info[0]">
            <span class="salsah-hint">
                It seems you have no projects yet.
            </span>
        </md-list-item>

    </md-list>

    <salsah-projects-list *ngIf="ownProfile?.projects_info[0]" [projects]="ownProfile?.projects_info"></salsah-projects-list>

</div>
