<!------------------------------------Edit lists!    ------------------------------------------------>
<!------------------------------------------------------------------------------------------------------->
<salsah-progress-indicator *ngIf="isLoading"></salsah-progress-indicator>
<section class="salsah-form-content" *ngIf="!isLoading">
    <!------------------------------------------------------------------------------------------------------------------------------->
    <!-----------Here we edit the list information only. ---------------------------------------------------------------------------->
    <!-----------We use an open expansion panel to keep homogeneity with other forms (resources / properties edit) ------------------>
    <!-----------Each expansion panels will have its own save button----------------------------------------------------------------->

    <mat-expansion-panel class="full-width" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <!-- Depending on whether we are editing an existing list info or creating a new list, we have a different title -->
                <span *ngIf="listIri">{{editLists.label}}: {{ listInfoForm.get('labels').at(0).get('value').value }} </span>
                <span *ngIf="!listIri">{{ editLists.add }} </span>
            </mat-panel-title>
            <mat-panel-description>
                <span>{{editLists.description}}</span>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <!-- Form starts here: we can edit list label and comments only  -->
        <form class="salsah-form new-user" [formGroup]="listInfoForm">
            <h5>{{editLists.list.label}}</h5>
            <span *ngIf="labels" formArrayName="labels">
               <div *ngFor="let label of labels.controls; let i=index" [formGroupName]="i">
                   <mat-form-field class="width-70">
                       <input matInput
                              placeholder="Value"
                              formControlName="value">
                       <mat-hint *ngIf="formErrors.labels.value">{{formErrors.labels.value}}</mat-hint>
                   </mat-form-field>
                   <mat-form-field class="width-20">
                      <input matInput
                             placeholder="Language"
                             formControlName="language">
                   </mat-form-field>
                      <mat-hint *ngIf="formErrors.labels.language">{{formErrors.labels.language}}</mat-hint>
                   <button mat-icon-button *ngIf="listInfoForm.get('labels').length > 1" aria-label="Clear"
                           (click)="removeLabel(i)">
                       <mat-icon class="small-icon">close</mat-icon>
                   </button>
               </div>
                <mat-action-row>
                   <button mat-button
                           class="right"
                           [color]="'primary'"
                           (click)="addLabel()">
                       Add Label
                   </button>
                </mat-action-row>
            </span>

            <h5>{{editLists.list.comments}}</h5>
            <span *ngIf="comments" formArrayName="comments">
                <div *ngFor="let comment of comments.controls; let i=index" [formGroupName]="i">
                    <mat-form-field class="width-70">
                        <input matInput
                               [placeholder]=editLists.list.comments
                               formControlName="value">
                    </mat-form-field>
                    <mat-form-field class="width-20">
                        <input matInput
                               placeholder="Language"
                               formControlName="language">
                    </mat-form-field>
                    <button mat-icon-button aria-label="Clear" (click)="removeComment(i)">
                       <mat-icon class="small-icon">close</mat-icon>
                    </button>
                </div>
                <mat-action-row>
                    <button mat-button
                            class="right"
                            [color]="'primary'"
                            (click)="addComment()">
                       Add Comment
                    </button>
               </mat-action-row>
            </span>
            <br>
            <br>
            <!-- ID and project can for the moment not be changed by the users, so they are disabled -->
            <mat-form-field class="full-width">
                <input matInput
                       [placeholder]=editLists.list.id
                       formControlName="id">
            </mat-form-field>
            <!--TODO: Id should be given automatically. Should we remove it from here?-->
            <mat-form-field class="full-width">
                <mat-select [placeholder]=editLists.list.project
                            formControlName="belongsToProject"
                            [disabled]="true" >
                    <mat-option *ngFor="let project of allProjects" [value]="project.id">
                        {{project.shortname}} : {{ project.id }}
                    </mat-option>
                </mat-select>
                <mat-hint *ngIf="formErrors.belongsToProject">{{formErrors.belongsToProject}}</mat-hint>
            </mat-form-field>
            <mat-action-row>
                <button mat-button
                        color="warn"
                        (click)="revertListInfo()">
                    {{editLists.buttons.reset}}
                </button>
                <button mat-raised-button
                        class="save-button"
                        [color]="'primary'"
                        [disabled]="!listInfoForm.valid"
                        (click)="saveListInfo()"
                        mat-dialog-close>
                    {{editLists.buttons.save}}
                </button>
            </mat-action-row>
        </form>
    </mat-expansion-panel>
</section>
