<hr/>
{{currentListInfo | json}}
<hr/>


<div mat-line></div>

<form [formGroup]="listInfoForm" novalidate>

    <mat-card class="list-form">

        <mat-card-title>List Details</mat-card-title>

        <mat-card-content>
            <mat-input-container class="list-item-full-width">
                <input matInput placeholder="Id" formControlName="id">
            </mat-input-container>

            <mat-input-container class="list-item-full-width">
                <input matInput placeholder="Project" formControlName="projectIri">
            </mat-input-container>

            <div>
                <h4>Labels</h4> <button mat-button (click)="addLabel()">Add Label</button>
            </div>

            <div *ngIf="labels" formArrayName="labels">
                <div *ngFor="let label of labels.controls; let i=index" [formGroupName]="i">
                    <div class="flex align-center">
                        <mat-input-container class="list-item-half-width">
                            <input matInput placeholder="Value" formControlName="value">
                        </mat-input-container>

                        <select formControlName="language" class="flex-one">
                            <option value="" disabled>Select language</option>
                            <option value="en">en</option>
                            <option value="de">de</option>
                            <option value="fr">fr</option>
                            <option value="it">it</option>
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <h4>Comments</h4> <button mat-button (click)="addComment()">Add Comment</button>
            </div>
            <div *ngIf="comments" formArrayName="comments">
                <div *ngFor="let comment of comments.controls; let i=index" [formGroupName]="i">
                    <div class="flex align-center">
                        <mat-input-container class="list-item-half-width">
                            <input matInput placeholder="Value" formControlName="value">
                        </mat-input-container>

                        <select formControlName="language" class="flex-one">
                            <option value="" disabled>Select language</option>
                            <option value="en">en</option>
                            <option value="de">de</option>
                            <option value="fr">fr</option>
                            <option value="it">it</option>
                        </select>
                    </div>
                </div>
            </div>

        </mat-card-content>
        <mat-card-actions align="end">
            <div style="margin-bottom: 1em">
                <button mat-raised-button
                        (click)="save(listInfoForm.value)"
                        [disabled]="listInfoForm.pristine" class="btn btn-success">Save</button> &nbsp;
                <button mat-raised-button (click)="revert()"
                        [disabled]="listInfoForm.pristine" class="btn btn-danger">Revert</button>
            </div>
        </mat-card-actions>

    </mat-card>

</form>

<hr/>
{{ listInfoForm.value | json }}
<hr/>

<mat-card>
    <mat-card-title>List Nodes</mat-card-title>
    <mat-card-content>
        <div *ngIf="currentListInfo">
            <tree-root [nodes]="currentNodes">
                <ng-template #treeNodeTemplate let-node let-index="index">
                    <span>{{ node.data.label }}</span>
                    <button (click)="viewDetails(node.data.id)">Details</button>
                </ng-template>
            </tree-root>
        </div>
    </mat-card-content>

</mat-card>
