<!-- error message -->
<salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>

<!-- main module content with different sizes: large or medium (= default) -->
<div class="salsah-module-content" [ngClass]="moduleSize" *ngIf="!errorMessage">

    <!-- this module has a list with different positions: left or center (= default) -->
    <div class="salsah-list" [ngClass]="[position, listSize]">
        <div class="salsah-list-header">
            <span class="list-title">
                <h3 [class.has-border]="list.description">
                    {{ list.title }}
                </h3>
                <p>{{list.description}}</p>
            </span>
            <span class="fill-remaining-space"></span>
            <span class="list-action-button">
                <!-- add button? -->
                <!-- this list has an 'add button' to add new stuff;
                    it opens the form-dialog-component with the defined form-component -->

                <button *ngIf="add"
                        (click)="openNew(add.type)"
                        mat-raised-button
                        [matTooltip]="add.title"
                        [matTooltipPosition]="'above'"
                        color="primary">
                    <!-- <mat-icon>add</mat-icon> {{ 'salsahLabel.form.general.new' | translate }} -->
                    <mat-icon>add</mat-icon> New
                </button>
            </span>
        </div>


        <!-- main list incl. sort button and number of items -->
        <div class="salsah-module-content-list" [ngSwitch]="list.content">

            <salsah-users-list *ngSwitchCase="'user'"
                               [listType]="list.showAs"
                               [restrictedBy]="list.restrictedBy"
                               (refreshComponent)="updateSession()">
            </salsah-users-list>


            <div *ngSwitchCase="'project'">
                <salsah-projects-list *ngIf="!rerender"
                                      [listType]="list.showAs"
                                      [restrictedBy]="list.restrictedBy">
                </salsah-projects-list>
            </div>

            <salsah-ontologies-list *ngSwitchCase="'ontology'"
                                    [restrictedBy]="list.restrictedBy"
                                    (toggleItem)="toggleDetail($event, $event)">
            </salsah-ontologies-list>

            <salsah-resource-types-list *ngSwitchCase="'resource-type'"
                                        [restrictedBy]="list.restrictedBy"
                                        (toggleItem)="toggleDetail($event, $event)">
            </salsah-resource-types-list>

            <salsah-lists-list *ngSwitchCase="'list'"
                               [restrictedBy]="list.restrictedBy"
                               (toggleItem)="toggleDetail($event, $event)">
            </salsah-lists-list>

            <salsah-collections-list *ngSwitchCase="'collection'"></salsah-collections-list>

            <div *ngSwitchCase="'resource'">
                <salsah-resources-list *ngIf="!rerender"
                                       [listType]="list.showAs"
                                       [searchMode]="list.searchMode"
                                       [searchParam]="list.restrictedBy"
                                       [offset]="offset"
                                       (toggleItem)="toggleDetail($event, $event)">
                </salsah-resources-list>
            </div>

            <salsah-message *ngSwitchDefault [message]="notYetImplemented"></salsah-message>

        </div>
    </div>
    <!-- end of main list -->

    <div *ngIf="detailViewIsActive" class="salsah-module-detail" [ngClass]="position.detail">
        <!-- detail view with own header -->
        <!-- because of an issue with the highlight of the selected object in the list,
            we have to disable this main close button -->
        <!-- TODO: reacitvate the main close button in detail view -->
        <!--
        <div class="salsah-module-detail-header">
            <mat-progress-bar mode="indeterminate" *ngIf="isLoadingSubModule"></mat-progress-bar>
            <button mat-icon-button (click)="closeDetailView()" class="right close">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        -->

        <!-- detail view content -->
        <div class="salsah-module-detail-content" [ngSwitch]="list.content">
            <!-- a) view incl. edit and delete if the logged in user has the rights -->
            <salsah-user-object *ngSwitchCase="'user'" [id]="id"></salsah-user-object>

            <salsah-edit-resource-class *ngSwitchCase="'resource-type'" [iri]="id"></salsah-edit-resource-class>

            <salsah-resource-object *ngSwitchCase="'resource'" [iri]="id"></salsah-resource-object>

        </div>

    </div>

</div>




