<salsah-message *ngIf="errorMessage">{{errorMessage}}</salsah-message>
<p>{{resource?.type}} ({{ontologyInfo?.getLabelForResourceClass(resource?.type)}})</p>
<p>{{resource?.label}}</p>

<mat-list>
    <div mat-line *ngFor="let prop of resource?.properties | key">

        <span>{{prop.key}} ({{ontologyInfo?.getLabelForProperty(prop.key)}})</span>

        <!--  array templates -->
        <!--  some types of properties (currently StillImageFileValues) are displayed in 1 template for the whole property list. -->
        <!-- TODO: Do we have to check for subproperties of hasStillImageFileValue? -->
        <salsah-still-image-osdviewer #OSDViewer
                                      *ngIf="prop.key == AppConfig.hasStillImageFileValue; else singleTemplates" [images]="resource?.stillImageRepresentationsToDisplay" [imageRangeStart]="0" [imageRangeEnd]="0" [imageChangeInterval]="1">
        </salsah-still-image-osdviewer>

        <!--  single templates -->
        <!--  other types of properties are displayed in 1 template for each single property in the property list. -->
        <ng-template #singleTemplates>
            <ul><li *ngFor="let val of prop.value | key">
            <span [ngSwitch]="val.value.getClassName()">
                <read-text-value-as-html *ngSwitchCase="AppConfig.ReadTextValueAsHtml" [valueObject]="val.value" [ontologyInfo]="ontologyInfo"></read-text-value-as-html>
                <read-text-value-as-string *ngSwitchCase="AppConfig.ReadTextValueAsString" [valueObject]="val.value"></read-text-value-as-string>
                <read-text-value-as-xml *ngSwitchCase="AppConfig.ReadTextValueAsXml" [valueObject]="val.value"></read-text-value-as-xml>
                <read-date-value *ngSwitchCase="AppConfig.ReadDateValue" [valueObject]="val.value"></read-date-value>
                <read-link-value *ngSwitchCase="AppConfig.ReadLinkValue" [valueObject]="val.value" [ontologyInfo]="ontologyInfo"></read-link-value>
                <read-integer-value *ngSwitchCase="AppConfig.ReadIntegerValue" [valueObject]="val.value"></read-integer-value>
                <read-decimal-value *ngSwitchCase="AppConfig.ReadDecimalValue" [valueObject]="val.value"></read-decimal-value>
                <salsah-read-geom-value *ngSwitchCase="AppConfig.ReadGeomValue" [valueObject]="val.value"></salsah-read-geom-value>
                <salsah-read-color-value *ngSwitchCase="AppConfig.ReadColorValue" [valueObject]="val.value"></salsah-read-color-value>
                <span *ngSwitchDefault="">Not supported {{val.value.getClassName()}}</span>
            </span>
            </li></ul>
        </ng-template>

    </div>

    <!-- Check for incoming links -->
    <div *ngIf="resource?.incomingLinks?.length > 0">
        <p>Incoming Links:</p>
        <ul>
            <li *ngFor="let incomingLinkSourceRes of resource.incomingLinks">
                <span matTooltip="{{incomingLinkSourceRes.label}} {{ontologyInfo?.getLabelForResourceClass(incomingLinkSourceRes.type)}}" (click)="showSourceOfIncomingLinkInDialog(incomingLinkSourceRes.id)">
                    <span>{{incomingLinkSourceRes.label}}</span>
                </span>
            </li>
        </ul>
    </div>

    <!-- Check if StillImageRepresentations are pointing to the current resource -->
    <!-- Event getImages: more images are requested (previous or next set) -->
    <salsah-still-image-osdviewer #OSDViewer (getImages)="changeOffsetForStillImageRepresentations($event)"
                                  *ngIf="resource?.incomingStillImageRepresentations?.length > 0;" [images]="resource?.stillImageRepresentationsToDisplay" [imageRangeStart]="0" [imageRangeEnd]="4" [imageChangeInterval]="5">
    </salsah-still-image-osdviewer>

</mat-list>
