<mat-card>
    <div class="salsah-module-header">
        <salsah-progress-stepper *ngIf="steps || max_steps" [steps]="steps"
                                 [counter]="counter"></salsah-progress-stepper>
    </div>

    <mat-card-content>
        <!-- step 0: does the new resource have a file representation? -->
        <section [hidden]="counter!==0">
            <p mat-subheader>Does the new resource have a file representation? Which one?</p>
            <mat-grid-list cols="3" gutterSize="12px" rowHeight="100px" class="form-grid">
                <mat-grid-tile *ngFor="let item of basicOntology?.resourceClasses | key; let i = index;">
                    <button mat-button [matTooltip]="item.value.description" matTooltipPosition="above"
                            (click)="nextFormSection(counter, $event, item.key)">
                        <mat-icon style="font-size: 48px; width:48px; height: 48px;">{{item.value.icon}}</mat-icon>
                        <br>
                        {{item.value.label}}
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </section>

        <!-- step 1: define the new resource class:
            - title, description, and permissions for the whole resource
            -->
        <section [hidden]="counter!==1">
            <form #resource="ngForm" class="salsah-form">
                <p mat-subheader>Define your new resource type</p>
                <!-- resource label -->
                <mat-form-field class="full-width">
                                     <!--dividerColor="{{ !newResourceClass.label ? 'warn' : 'primary' }}">-->
                    <input matInput
                           placeholder="Resource name *"
                           name="label"
                           [(ngModel)]="newResourceClass.label">
                    <mat-hint class="salsah-hint">
                        <span [hidden]="newResourceClass.label"
                              class="salsah-error">This information is required!</span>
                    </mat-hint>
                </mat-form-field>

                <!-- resource description -->
                <mat-form-field class="full-width">
                            <textarea matInput
                                      placeholder="Resource description"
                                      name="description"
                                      [(ngModel)]="newResourceClass.description"
                                      cols="30" rows="5">
                            </textarea>
                </mat-form-field>

                <!-- resource icon; disabled at the moment -->
                <mat-form-field class="full-width">
                                     <!--dividerColor="{{ !newResourceClass.icon ? 'warn' : 'primary' }}">-->
                    <span matPrefix><mat-icon>{{newResourceClass.icon}}</mat-icon></span>

                    <input matInput
                           placeholder="Resource icon *"

                           name="icon"
                           [(ngModel)]="newResourceClass.icon">
                    <mat-hint class="salsah-hint">
                        <span [hidden]="newResourceClass.icon" class="salsah-error">This information is required!</span>
                    </mat-hint>
                </mat-form-field>

                <!-- resource permission -->
                <!-- TODO: move this selection into a separate component; set the permissions on a group level in the project advance board -->
                <p mat-subheader>Resource Permissions</p>
                <p>Change the default resource permission here...in the future</p>

                <!--
                <table class="full-width">
                    <tr>

                        <th *ngFor="let group of permissions?.groups" [matTooltip]="group.description" matTooltipPosition="above" style="text-align:left">
                            {{group.label}}
                        </th>
                    </tr>
                    <tr>
                        <td *ngFor="let group of permissions?.groups; let i = index">
                            <mat-select [(ngModel)]="newResourceClass?.permissions[group.id]" [name]="group.id">
                                <mat-option *ngFor="let cat of permissions?.categories" [value]="cat.id">
                                    {{cat.label}}
                                </mat-option>
                            </mat-select>

                        </td>
                    </tr>
                </table>
                -->
            </form>
        </section>

        <!-- step 2: Select the properties you need that correspond to your resource -->
        <section [hidden]="counter!==2">
            <form #properties="ngForm" class="salsah-form">
                <p mat-subheader>Select properties for <i>{{newResourceClass.label}}</i></p>

                <mat-list>
                    <!--
                    <mat-list-item class="link highlight">
                        <div class="salsah-checkbox">
                            <input type="checkbox"
                                   id="togglePermission"
                                   [checked]="isAllChecked()"
                                   (change)="checkAll($event)">
                            <label for="togglePermission" class="fill-remaining-space" [class.checked]="isAllChecked()">
                                <span class="checkbox-fake"></span>
                                <span class="checkbox-label">{{selectPropsText}}</span>
                            </label>
                        </div>
                    </mat-list-item>
                    <hr>
                    -->
                    <!-- 2b) additional resource class specific properties -->
                    <mat-list-item *ngFor="let prop of defaultProperties; let i = index" class="link highlight">
                        <div class="salsah-checkbox">
                            <input type="checkbox"
                                   [id]="i"
                                   [(ngModel)]="prop.name"
                                   [name]="'prop_' + i"
                                   [checked]="prop"
                                   (change)="setProp(prop, i, $event)">
                            <label class="fill-remaining-space"
                                   [class.checked]="newResourceClass?.properties[i] !== undefined"
                                   [for]="i">
                                <span class="checkbox-fake"></span>
                                <span class="checkbox-label">{{prop?.label}}</span>
                            </label>
                        </div>

                        <!-- the properties on the left side are followed by their cardinality settings on the right side -->
                        <mat-select *ngIf="newResourceClass.properties[i] !== undefined"
                                    [(ngModel)]="prop.occurrence"
                                    [name]="'occ_' + i"
                                    (change)="setOcc(i, $event)">
                            <mat-option *ngFor="let cardinality of cardinalityList;" [value]="cardinality">
                                {{cardinality}}
                            </mat-option>
                        </mat-select>
                    </mat-list-item>

                </mat-list>
            </form>
        </section>

        <!-- step 3: Set the permissions for each selected properties -->
        <section [hidden]="counter!==3">
            <form #permission="ngForm" class="salsah-form">
                <!-- TODO: move this selection into a separate component; set the permissions on a group level in the project advance board -->
                <p mat-subheader>Set the permissions for the selected properties</p>
                <p>No perhaps not here..as Ivan said</p>
                <!--
                <table class="full-width form-table">
                    <thead><tr>
                        <th width="36px" class="center">n</th>
                        <th style="text-align:left">Property</th>
                        <th *ngFor="let group of permissions.groups">
                            {{group.label}}
                        </th>
                    </tr></thead>

                    <tbody *ngFor="let prop of newResourceClass.properties; let i = index">
                    <tr  class="link highlight" *ngIf="newResourceClass.properties[i] !== undefined" style="height: 48px">

                        <td width="36px">({{prop.occurrence}})</td>

                        <td style="text-align:left"><strong>{{prop.label}}</strong></td>

                        <td *ngFor="let grp of permissions?.groups; let j = index">
                            <mat-select [ngModel]="permissions?.categories[j + 1]?.id"
                                       (ngModel)="newResource.properties[prop.key]?.permissions[grp.id]"
                                       [name]="grp.id + '_' + i"
                                       (change)="setPerm(prop, grp.id, $event)">
                                <mat-option *ngFor="let cat of permissions.categories" [value]="cat.id">
                                    {{cat.label}}
                                </mat-option>
                            </mat-select>
                        </td>

                        <!--
                        <td *ngFor="let permCat of permissions.categories; let i = index">
                            <mat-select [(ngModel)]="permissions.groups[i].id" [name]="permCat.id">
                                <mat-option *ngFor="let permGrp of permissions.groups" [value]="permGrp.id">
                                    {{permGrp.label}}
                                </mat-option>
                            </mat-select>
                        </td>
                        --
                    </tr>
                    </tbody>
                </table>
                -->
            </form>
        </section>

        <!-- step 4: Preview of the resource and save it -->
        <section [hidden]="counter!==4">
            <form #rcf="ngForm" (ngSubmit)="onSubmit(rcf.value)" class="salsah-form">
            </form>
        </section>
    </mat-card-content>


    <mat-card-footer>
        <span class="back">
            <button mat-button
                    *ngIf="counter < max_steps && counter > 0"
                    class="back-button"
                    (click)="prevFormSection(counter, $event)">
                <mat-icon>keyboard_arrow_left</mat-icon> Back
            </button>
        </span>

        <span class="fill-remaining-space"></span>

        <!-- a button to go forward is on the right side; at the end it will be replaced with the submit button -->
        <span class="next">
            <button mat-raised-button
                    [disabled]="!newResourceClass.label"
                    *ngIf="counter < (max_steps - 1) && counter > 0"
                    class="next-button"
                    [color]="'primary'"
                    (click)="nextFormSection(counter, $event)">
                Next <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
            <!-- or -->
            <button type="submit"
                    mat-raised-button
                    *ngIf="counter === (max_steps - 1)"
                    class="save-button"
                    [color]="'primary'"
                    (click)="onSubmit(newResourceClass)"
                    [disabled]="!newResourceClass">
                Save
            </button>
        </span>
    </mat-card-footer>
</mat-card>
