@import '../../../../../assets/style/config';

mat-card {
//  height: 640px;
  margin: 24px auto;
  padding: 0;
  width: 90%;

  mat-card-content {
    min-height: 500px;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  mat-card-footer {
    box-sizing: border-box;
    display: block;
    outline: 0;
    padding: 48px 24px;
    position: relative;
  }
}

section {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
}

td {
  text-align: center;

  mat-select {
    width: 90%;
  }
}
