<md-card>
    <div class="salsah-module-header">
        <salsah-progress-stepper *ngIf="steps || max_steps" [steps]="steps" [counter]="counter"></salsah-progress-stepper>
    </div>

    <md-card-content>
        <!-- step 0: does the new resource have a file representation? -->
        <section [hidden]="counter!==0">
            <p md-subheader>Does the new resource have a file representation? Which one?</p>
            <md-grid-list cols="3" gutterSize="12px" rowHeight="100px" class="form-grid">
                <md-grid-tile *ngFor="let item of basicOntology?.resourceClasses | key; let i = index;">
                    <button md-button [mdTooltip]="item.value.description" mdTooltipPosition="above"
                            (click)="nextFormSection(counter, $event, item.key)">
                        <md-icon style="font-size: 48px; width:48px; height: 48px;">{{item.value.icon}}</md-icon><br>
                        {{item.value.label}}
                    </button>
                </md-grid-tile>
            </md-grid-list>
        </section>

        <!-- step 1: define the new resource class:
            - title, description, and permissions for the whole resource
            -->
        <section [hidden]="counter!==1">
            <form #resource="ngForm" class="salsah-form">
                <p md-subheader>Define your new resource type</p>
                <!-- resource label -->
                <md-input-container class="full-width"
                                    dividerColor="{{ !newResourceClass.label ? 'warn' : 'primary' }}">
                    <input mdInput
                           placeholder="Resource name *"
                           name="label"
                           [(ngModel)]="newResourceClass.label">
                    <md-hint class="salsah-hint">
                        <span [hidden]="newResourceClass.label" class="salsah-error">This information is required!</span>
                    </md-hint>
                </md-input-container>

                <!-- resource description -->
                <md-input-container class="full-width">
                            <textarea mdInput
                                      placeholder="Resource description"
                                      name="description"
                                      [(ngModel)]="newResourceClass.description"
                                      cols="30" rows="5">
                            </textarea>
                </md-input-container>

                <!-- resource icon; disabled at the moment -->
                <md-input-container class="full-width"
                                    dividerColor="{{ !newResourceClass.icon ? 'warn' : 'primary' }}">
                    <span mdPrefix><md-icon>{{newResourceClass.icon}}</md-icon></span>

                    <input mdInput
                           placeholder="Resource icon *"

                           name="icon"
                           [(ngModel)]="newResourceClass.icon">
                    <md-hint class="salsah-hint">
                        <span [hidden]="newResourceClass.icon" class="salsah-error">This information is required!</span>
                    </md-hint>
                </md-input-container>

                <!-- resource permission -->
                <!-- TODO: move this selection into a separate component; set the permissions on a group level in the project advance board -->
                <p md-subheader>Resource Permissions</p>
                <p>Change the default resource permission here...in the future</p>

                <!--
                <table class="full-width">
                    <tr>

                        <th *ngFor="let group of permissions?.groups" [mdTooltip]="group.description" mdTooltipPosition="above" style="text-align:left">
                            {{group.label}}
                        </th>
                    </tr>
                    <tr>
                        <td *ngFor="let group of permissions?.groups; let i = index">
                            <md-select [(ngModel)]="newResourceClass?.permissions[group.id]" [name]="group.id">
                                <md-option *ngFor="let cat of permissions?.categories" [value]="cat.id">
                                    {{cat.label}}
                                </md-option>
                            </md-select>

                        </td>
                    </tr>
                </table>
                -->
            </form>
        </section>

        <!-- step 2: Select the properties you need that correspond to your resource -->
        <section [hidden]="counter!==2">
            <form #properties="ngForm" class="salsah-form">
                <p md-subheader>Select properties for <i>{{newResourceClass.label}}</i></p>

                <md-list>
                    <!--
                    <md-list-item class="link highlight">
                        <div class="salsah-checkbox">
                            <input type="checkbox"
                                   id="togglePermission"
                                   [checked]="isAllChecked()"
                                   (change)="checkAll($event)">
                            <label for="togglePermission" class="fill-remaining-space" [class.checked]="isAllChecked()">
                                <span class="checkbox-fake"></span>
                                <span class="checkbox-label">{{selectPropsText}}</span>
                            </label>
                        </div>
                    </md-list-item>
                    <hr>
                    -->
                    <!-- 2b) additional resource class specific properties -->
                    <md-list-item *ngFor="let prop of defaultProperties; let i = index" class="link highlight">
                        <div class="salsah-checkbox">
                            <input type="checkbox"
                                   [id]="i"
                                   [(ngModel)]="prop.name"
                                   [name]="'prop_' + i"
                                   [checked]="prop"
                                   (change)="setProp(prop, i, $event)">
                            <label class="fill-remaining-space"
                                   [class.checked]="newResourceClass?.properties[i] !== undefined"
                                   [for]="i">
                                <span class="checkbox-fake"></span>
                                <span class="checkbox-label">{{prop?.label}}</span>
                            </label>
                        </div>

                        <!-- the properties on the left side are followed by their cardinality settings on the right side -->
                        <md-select *ngIf="newResourceClass.properties[i] !== undefined"
                                   [(ngModel)]="prop.occurence"
                                   [name]="'occ_' + i"
                                   (change)="setOcc(i, $event)">
                            <md-option *ngFor="let cardinality of cardinalityList;" [value]="cardinality">
                                {{cardinality}}
                            </md-option>
                        </md-select>
                    </md-list-item>

                </md-list>
            </form>
        </section>

        <!-- step 3: Set the permissions for each selected properties -->
        <section [hidden]="counter!==3">
            <form #permission="ngForm" class="salsah-form">
                <!-- TODO: move this selection into a separate component; set the permissions on a group level in the project advance board -->
                <p md-subheader>Set the permissions for the selected properties</p>
                <p>No perhaps not here..as Ivan said</p>
                <!--
                <table class="full-width form-table">
                    <thead><tr>
                        <th width="36px" class="center">n</th>
                        <th style="text-align:left">Property</th>
                        <th *ngFor="let group of permissions.groups">
                            {{group.label}}
                        </th>
                    </tr></thead>

                    <tbody *ngFor="let prop of newResourceClass.properties; let i = index">
                    <tr  class="link highlight" *ngIf="newResourceClass.properties[i] !== undefined" style="height: 48px">

                        <td width="36px">({{prop.occurence}})</td>

                        <td style="text-align:left"><strong>{{prop.label}}</strong></td>

                        <td *ngFor="let grp of permissions?.groups; let j = index">
                            <md-select [ngModel]="permissions?.categories[j + 1]?.id"
                                       (ngModel)="newResource.properties[prop.key]?.permissions[grp.id]"
                                       [name]="grp.id + '_' + i"
                                       (change)="setPerm(prop, grp.id, $event)">
                                <md-option *ngFor="let cat of permissions.categories" [value]="cat.id">
                                    {{cat.label}}
                                </md-option>
                            </md-select>
                        </td>

                        <!--
                        <td *ngFor="let permCat of permissions.categories; let i = index">
                            <md-select [(ngModel)]="permissions.groups[i].id" [name]="permCat.id">
                                <md-option *ngFor="let permGrp of permissions.groups" [value]="permGrp.id">
                                    {{permGrp.label}}
                                </md-option>
                            </md-select>
                        </td>
                        --
                    </tr>
                    </tbody>
                </table>
                -->
            </form>
        </section>

        <!-- step 4: Preview of the resource and save it -->
        <section [hidden]="counter!==4">
            <form #rcf="ngForm" (ngSubmit)="onSubmit(rcf.value, rcf.valid)" class="salsah-form">
            </form>
        </section>
    </md-card-content>


    <md-card-footer>
        <span class="back">
            <button md-button
                    *ngIf="counter < max_steps && counter > 0"
                    class="back-button"
                    (click)="prevFormSection(counter, $event)">
                <md-icon>keyboard_arrow_left</md-icon> Back
            </button>
        </span>

        <span class="fill-remaining-space"></span>

        <!-- a button to go forward is on the right side; at the end it will be replaced with the submit button -->
        <span class="next">
            <button md-raised-button
                    [disabled]="!newResourceClass.label"
                    *ngIf="counter < (max_steps - 1) && counter > 0"
                    class="next-button"
                    [color]="'primary'"
                    (click)="nextFormSection(counter, $event)">
                Next <md-icon>keyboard_arrow_right</md-icon>
            </button>
            <!-- or -->
            <button type="submit"
                    md-raised-button
                    *ngIf="counter === (max_steps - 1)"
                    class="save-button"
                    color="primary"
                    (click)="onSubmit(newResourceClass)"
                    [disabled]="!newResourceClass">
                Save
            </button>
        </span>
    </md-card-footer>
</md-card>
