
<div class="salsah-module with-header" *ngIf="auth && ownProfile">
    <md-toolbar class="salsah-module-header">
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <!-- Tab menu -->
        <nav class="salsah-tab-group" *ngIf="!errorMessage">
            <button md-button
                    class="salsah-tab-item"
                    routerLink="/profile"
                    [ngClass]="firstTabClass"
                    (click)="enableFirstTab()">
                <strong>{{cur_user}}</strong>
            </button>
            <button *ngFor="let item of menu; let i = index; let first=first"
                    md-button
                    class="salsah-tab-item"
                    [routerLink]="item.route"
                    routerLinkActive="active"
                    (click)="disableFirstTab()">
                {{item.name}}
            </button>
        </nav>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
    </md-toolbar>

    <div class="salsah-sub-module">

        <md-progress-bar mode="indeterminate" *ngIf="isLoading"></md-progress-bar>

        <salsah-api-error *ngIf="errorMessage" [error]="errorMessage"></salsah-api-error>

        <!-- switch view; not with a second router-outlet, because of the direct (parent) routes like
            "/settings", "/projects" and "/collections
        -->

        <salsah-user-projects *ngIf="module === 'projects'"></salsah-user-projects>
        <salsah-user-collections *ngIf="module === 'collections'"></salsah-user-collections>
        <salsah-user-settings *ngIf="module === 'settings'"></salsah-user-settings>
        <salsah-user-profile></salsah-user-profile>

    </div>

</div>
<div class="salsah-module without-header" *ngIf="!ownProfile">
    <router-outlet></router-outlet>
</div>
