.salsah-module-detail {
  padding: 0;

.view-list {
  padding: 48px;
}

.edit-list {
  padding: 48px;
}

.create-list {
  padding: 48px;
}

.salsah-module-detail-content {
  height: 100%;
  top: 2px;
  width: 100%;
}
}
