<div class="form-dialog">
    <!-- header with close (on the left hand side) and resize (on the right hand side) button
        and with the title in the center -->
    <div class="dialog-header">
        <span class="dialog-action-button">
            <button mat-icon-button class="resize-button" (click)="toggleFullSize()">
                <mat-icon class="optimize-direction" [innerHtml]="fullSize ? 'call_received' :'call_made'"></mat-icon>
            </button>
        </span>
        <span class="fill-remaining-space"></span>
        <span>
            <h3 class="dialog-title" mat-dialog-title>
                {{ data.title }}
            </h3>
        </span>
        <span class="fill-remaining-space"></span>
        <span class="dialog-action-button">
            <button mat-icon-button
                    class="close-button"
                    (click)="_dialogRef.close()">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>

    <!-- dialog content with the form components -->
    <mat-dialog-content [ngSwitch]="data.form" class="dialog-content">

        <!-- salsah form components for projects, users, resource classes etc.;
            - all handled by the switch method;
            - every form should have an optional iri value: in this case the edit form will be used
            - the restrictedBy attribute is for e.g. a project iri; it's used in the project admin -->

        <!-- create new / edit projects -->
        <salsah-project-form *ngSwitchCase="'project'"
                             [iri]="data.iri">
        </salsah-project-form>

        <!-- create new / edit users -->
        <salsah-user-form *ngSwitchCase="'user'"
                          [iri]="data.iri"
                          [restrictedBy]="data.restriction">
        </salsah-user-form>

        <!-- create new / edit ontologies -->
        <salsah-ontology-form *ngSwitchCase="'ontology'"
                              [iri]="data.iri"
                              [restrictedBy]="data.restriction">
        </salsah-ontology-form>

        <!-- create new / edit resource class -->
        <salsah-edit-resource-class *ngSwitchCase="'resource-type'"
                                    [iri]="data.iri">
        </salsah-edit-resource-class>

        <!-- create new / edit lists class -->
        <salsah-edit-node-info *ngSwitchCase="'nodeInfo'"
                               [nodeIri]="data.iri"
                               [currentNode]="data.currentNodes"
                               [dNode]="data.delNode"
                               [dTree]="data.delTree">
        </salsah-edit-node-info>

        <salsah-edit-list-info *ngSwitchCase="'listInfo'"
                               [listIri]="data.iri"
                               [currentListInfo]="data.currentListInfo">
        </salsah-edit-list-info>

        <salsah-message *ngSwitchDefault [message]="notYetImplemented"></salsah-message>
    </mat-dialog-content>

    <!-- footer with save button -->
    <!--
    <mat-dialog-actions class="dialog-footer">
        <button mat-raised-button
                class="submit-button"
                color="primary"
                [disabled]="!formIsValid">
            Save
        </button>
    </mat-dialog-actions>
    -->
</div>

