<div class="form-dialog">
    <!-- header with close (on the left hand side) and resize (on the right hand side) button
        and with the title in the center -->
    <div class="dialog-header">
        <span class="dialog-action-button">
            <button mat-icon-button class="resize-button" (click)="toggleFullSize()">
                <mat-icon class="optimize-direction" [innerHtml]="fullSize ? 'call_received' :'call_made'"></mat-icon>
            </button>
        </span>
        <h3 class="fill-remaining-space dialog-title" mat-dialog-title>
            {{data.title}}
        </h3>
        <span class="dialog-action-button">
            <button mat-icon-button
                    class="cancel-button"
                    (click)="discardChanges()">
                <mat-icon>close</mat-icon>
            </button>
        </span>
    </div>

    <!-- dialog content with the form components -->
    <mat-dialog-content [ngSwitch]="data.form" class="dialog-content">

        <!-- salsah form components for projects, users, resource classes etc.
        all handled by the switch method -->
        <salsah-project-form *ngSwitchCase="'project'" [iri]="data.iri"></salsah-project-form>

        <!-- (submitData)="submitData($event, $event)" -->

        <salsah-user-form *ngSwitchCase="'user'" [iri]="data.iri" [restrictedBy]="data.restriction"></salsah-user-form>
        <!--
                <salsah-user-form *ngSwitchCase="'new-user'" [iri]="data.restriction" (submitData)="submitData($event, $event)"></salsah-user-form>
        -->

        <salsah-new-resource-class *ngSwitchCase="'resource-type'" [iri]="data.restriction"></salsah-new-resource-class>

        <salsah-message *ngSwitchDefault [message]="notYetImplemented"></salsah-message>
    </mat-dialog-content>

    <!-- footer with save button -->
    <!--
    <mat-dialog-actions class="dialog-footer">
        <button mat-raised-button
                class="submit-button"
                color="primary"
                [disabled]="!formIsValid">
            Save
        </button>
    </mat-dialog-actions>
    -->
</div>

