// body

// header

.title {
  display: contents;
}

.logo {
  max-height: 48px;
  padding-right: 12px;
}

// content

// section

// footer
footer {
  //height: 224px;
}

// hr
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: rgba($dark, .18) 1px solid;
  margin: 3.2em 0;
  padding: 0;

  &.no-spacing {
    margin: 0 !important;
  }
}

// title with headline
h3::before {
  content: "";
  @extend hr;
  margin: 60px 0;
}

// content
.feature-content {
  p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300 !important;
    letter-spacing: 0;
    margin: 0 0 16px;
    line-height: 32px;
  }

}

// icons
.github-icon {
  padding: 0 0 0 24px;
}

// badges
.badge {
//  font-family: "Open Sans", sans-serif;
  padding: 2px 5px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #eee;
  font-size: .85em;
  letter-spacing: 1px;

  &.major {
    background: #00695c;
    color: #fff;
  }
  &.pre-release {
    background: #f06a33;
    color: #fff;
  }
  &.minor {
    background: #f0be48;
    color: #fff;
  }

}