<md-toolbar>
  <!-- project buttons on the top left corner -->
  <!--
  <salsah-project-buttons [projects]="user?.userProjects" [currentProject]="currentProject" (selectRequest)="onSelectProject($event)"></salsah-project-buttons>
-->

  <span class="fill-remaining-space"></span>

  <!-- salsah specific search panel incl.
       simple and extended search menu -->
  <salsah-search></salsah-search>

  <span class="fill-remaining-space"></span>

  <!-- toolbar buttons on the top right corner -->
  <!--
  <salsah-toolbar-buttons [add]="add" [documentation]="documentation" [user]="user"></salsah-toolbar-buttons>
  -->

</md-toolbar>
