<!-- progress indicator while the data is loading -->
<salsah-progress-indicator *ngIf="isLoading && !errorMessage"></salsah-progress-indicator>

<!-- show the results -->
<div *ngIf="!isLoading && !errorMessage; else errorMsg">

    <div *ngIf="numberOfItems > 0; else noData">
        <div *ngFor="let item of ontologiesList">
            <div class="salsah-list-toolbar">
                    <span class="salsah-list-title">
                        <h4 class="salsah-sub-header">{{item}}</h4>
                    </span>
                <span class="fill-remaining-space"></span>
                <span class="salsah-list-action">
                    <!--
                    <salsah-sort-button [sortProps]="sortProps"
                                        [(sortKey)]="sortKey">
                    </salsah-sort-button>
                    -->
                </span>
            </div>


            <h3>{{item}}</h3>


            <!-- an ontology has a list of resource types -->
            <salsah-resource-types-list [restrictedBy]="item"></salsah-resource-types-list>

        </div>
    </div>

    <!-- in the case of zero results: show a no data message -->
    <ng-template #noData>
        <salsah-message [message]="noDataMessage"></salsah-message>
    </ng-template>
</div>

<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>
</ng-template>
