<!------------------------------------Edit lists!    ------------------------------------------------>
<!------------------------------------------------------------------------------------------------------->
<salsah-progress-indicator *ngIf="isLoading"></salsah-progress-indicator>
<section class="salsah-form-content" *ngIf="!isLoading">
    <!------------------------------------------------------------------------------------------------------->
    <!-----------Here we will use expansion panels for each node, which will be collapsible------------------>
    <!-----------Each expansion panels will have its own save button----------------------------------------->
    <h5>{{editLists.list.nodes.formLabel}}</h5>

    <mat-expansion-panel class="full-width" [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <span>{{ listNodeInfoForm.get('name').value }} </span>
            </mat-panel-title>
            <mat-panel-description>
                <span>{{editLists.list.nodes.formDescription}}</span>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <form class="salsah-form new-user" [formGroup]="listNodeInfoForm">
            <mat-form-field class="full-width">
                <input matInput
                       [placeholder]=editLists.list.nodes.name
                       formControlName="name">
                <mat-hint *ngIf="formErrors.name">
                    {{ formErrors.name }}
                </mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput
                       [placeholder]=editLists.list.nodes.id
                       formControlName="id">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput
                       [placeholder]=editLists.list.nodes.label
                       formControlName="labels">
            </mat-form-field>

            <!----Show children with no edit control--->
            <mat-form-field> <!--number of children-->
                <input matInput
                       [placeholder]=editLists.list.nodes.children
                       formControlName="numberOfChildren">
                </mat-form-field>
            <mat-form-field *ngIf="listNodeInfoForm.get('children').length > 0"> <!--if there are children, show their names-->
                <span formArrayName="children">
                    <span *ngFor="let child of children.controls; let i=index" [formGroupName]="i">
                        <input matInput
                               [placeholder]=editLists.list.nodes.childName
                               formControlName="name">
                        <!--TODO this should be disabled, cannot find how to disable when it is a formArray, what is now in the ts is not working | I also want the node names to appear next to each other in a row, separated by commas or semicolumns -->
                    </span>
                </span>
            </mat-form-field>

            <!-------Show + add + remove children, edit names:  This is deprecated because each node should be editable individually------->
            <!--<div *ngIf="listNodeInfoForm.get('numberOfChildren').value > 0" formArrayName="children">-->
                <!--<mat-form-field class="full-width" *ngFor="let child of children.controls; let i=index"-->
                                <!--[formGroupName]="i">-->
                    <!--<span matPrefix>#{{i+1}} &nbsp;</span>-->
                    <!--<input matInput-->
                           <!--[placeholder]=editLists.list.nodes.childName-->
                           <!--formControlName="name">-->
                    <!--&lt;!&ndash;{{child.get('name').value}}&ndash;&gt;-->
                    <!--<button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="removeChild(i)">-->
                        <!--<mat-icon>close</mat-icon>-->
                    <!--</button>-->
                <!--</mat-form-field>-->
            <!--</div>-->
            <!--<mat-action-row>-->
                <!--<button mat-button-->
                        <!--color="primary"-->
                        <!--(click)="addChild()">-->
                    <!--{{editLists.buttons.addChild}}-->
                <!--</button>-->
            <!--</mat-action-row>-->


            <mat-form-field class="full-width">
                <input matInput
                       [placeholder]=editLists.list.nodes.level
                       formControlName="level">
            </mat-form-field>
            <!-- Node position is handled by the drag and drop, so we don't need to show it here-->
            <!--<mat-form-field class="full-width">-->
                <!--<input matInput-->
                       <!--[placeholder]=editLists.list.nodes.position-->
                       <!--formControlName="position">-->
            <!--</mat-form-field>-->

            <!-- Here are all the buttons for revert, delete and save-->
            <mat-action-row>
                <button mat-button mat-dialog-close
                        class="save-button"
                        color="warn"
                        (click)="delNode()">
                    {{editLists.buttons.remove}}
                </button>
                <span class="fill-remaining-space"></span>
                <button mat-button
                        color="warn"
                        (click)="revertNode()">
                    {{editLists.buttons.reset}}
                </button>
                <button mat-raised-button
                        class="save-button"
                        [color]="'primary'"
                        [disabled]="!listNodeInfoForm.valid"
                        (click)="saveNode(listNodeInfoForm.value)"
                        mat-dialog-close>
                    {{editLists.buttons.save}}
                </button>
            </mat-action-row>
        </form>
    </mat-expansion-panel>
</section>
