<div class="salsah-module with-header" *ngIf="sysAdmin && !errorMessage">
    <!-- this component has his own toolbar header
        with tabs for navigation through the settings
    -->
    <!--
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    -->

    <!-- component has his own toolbar, with component specific buttons / tabs / etc. -->
    <mat-toolbar class="salsah-module-header">
        <!-- type of the current dashboard -->
        <h4 mat-subheader>
            System
        </h4>
        <!--
        <mat-icon>build</mat-icon>
        -->

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <!-- Tab menu -->
        <nav class="salsah-tab-group" *ngIf="!errorMessage">
            <button *ngFor="let item of menu; let i = index; let first=first"
                    mat-button
                    class="salsah-tab-item"
                    [routerLink]="item.route"
                    routerLinkActive="active">
                {{item.name}}
            </button>
        </nav>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

    </mat-toolbar>

    <!-- and the sub module for route specific child components -->
    <div class="salsah-module-scroll-area">

        <salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>

        <salsah-progress-indicator *ngIf="isLoading && !errorMessage"></salsah-progress-indicator>

        <router-outlet *ngIf="!errorMessage && !isLoading" (tabRequest)="activateTab($event)"></router-outlet>

    </div>

</div>

<div class="salsah-module without-header" *ngIf="errorMessage && !sysAdmin">
    <salsah-message [message]="errorMessage"></salsah-message>
</div>



