<div class="salsah-module with-header" *ngIf="sysAdmin && !errorMessage">

    <!-- this component has his own toolbar header
        with tabs for navigation through the settings
    -->

    <mat-toolbar class="salsah-module-header">
        <!-- current dashboard type -->
        <h4 mat-subheader>
            System
        </h4>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <!-- Tab menu -->
        <nav mat-tab-nav-bar class="salsah-tab-group" *ngIf="!errorMessage && !isLoading">
            <!-- the tabs contains the system admin navigation -->
            <a mat-tab-link *ngFor="let item of menu; let first = first"
               [routerLink]="item.route"
               routerLinkActive
               #rla="routerLinkActive"
               [active]="rla.isActive">
                {{item.name}}
            </a>
        </nav>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    <div class="salsah-module-scroll-area" *ngIf="!isLoading">

        <salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>

        <router-outlet *ngIf="!errorMessage"></router-outlet>

    </div>

</div>

<div class="salsah-module without-header" *ngIf="errorMessage && !sysAdmin">
    <salsah-message [message]="errorMessage"></salsah-message>
</div>



