<!-- this form has a multi-step form interface
    it will be displayed in dialog card box -->

<!-- the dialog title is always the same; It stays fixed to the top of the dialog -->
<div mat-dialog-title>
    <salsah-progress-stepper *ngIf="steps || max_steps" [steps]="steps" [counter]="counter"></salsah-progress-stepper>
</div>


<!-- the sub forms of the main form are in th dialog content area; the content will change, step by step -->
<div mat-dialog-content>

        <!-- Step 0: Select resource type from a list of resources taken directly from the Knora base ontology
            (How do we include other ontologies / other properties? Do we simply read all possible resources within all ontologies?) -->
        <section [hidden]="counter!==0">
            <p mat-subheader>Select your media file type</p>
            <mat-grid-list cols="3" gutterSize="12px" rowHeight="100px" class="form-grid">
                <mat-grid-tile *ngFor="let item of basicOntology?.resourceClasses | key; let i = index;">
                    <button mat-button [matTooltip]="item.value.description" matTooltipPosition="above"
                            (click)="nextFormSection(counter, $event, item.key)">
                        <mat-icon style="font-size: 48px; width:48px; height: 48px;">{{item.value.icon}}</mat-icon><br>
                        {{item.value.label}}
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
        </section>

        <!-- Step 1: Define your new resource: name it, describe it and set the permissions for the whole resource -->
        <section *ngIf="newResource.id" [hidden]="counter!==1">
            <!-- <p mat-header>Define your new resource object <strong>{{newResource.label}}</strong></p> -->
            <form #resource="ngForm" class="salsah-form">

                <!-- resource label -->
                <mat-input-container class="full-width"
                                    dividerColor="{{ !newResource.label ? 'warn' : 'primary' }}">
                    <input matInput
                           placeholder="Resource name *"
                           name="label"
                           [(ngModel)]="newResource.label">
                    <mat-hint class="salsah-hint">
                        <span [hidden]="newResource.label" class="salsah-error">This information is required!</span>
                    </mat-hint>
                </mat-input-container>

                <!-- resource description -->
                <mat-input-container class="full-width">
                    <textarea matInput
                           placeholder="Resource description"
                           name="description"
                           [(ngModel)]="newResource.description"
                           cols="30" rows="5">
                    </textarea>
                </mat-input-container>

                <!-- resource icon; disabled at the moment -->
                <mat-input-container class="full-width"
                                    dividerColor="{{ !newResource.icon ? 'warn' : 'primary' }}">
                    <span matPrefix><mat-icon>{{newResource.icon}}</mat-icon></span>

                    <input matInput
                           placeholder="Resource icon *"

                           name="icon"
                           [(ngModel)]="newResource.icon">
                    <mat-hint class="salsah-hint">
                        <span [hidden]="newResource.icon" class="salsah-error">This information is required!</span>
                    </mat-hint>
                </mat-input-container>

                <!-- resource permission -->
                <p mat-subheader>Resource Permissions</p>
                <table class="full-width">
                    <tr>
                        <th *ngFor="let group of permissions.groups" [matTooltip]="group.description" matTooltipPosition="above" style="text-align:left">
                            {{group.label}}
                        </th>
                    </tr>
                    <tr>
                        <td *ngFor="let group of permissions.groups; let i = index">
                            <mat-select [(ngModel)]="newResource.permissions[group.id]" [name]="group.id">
                                <mat-option *ngFor="let cat of permissions?.categories" [value]="cat.id">
                                    {{cat.label}}
                                </mat-option>
                            </mat-select>
                        </td>
                    </tr>
                </table>

            </form>
        </section>

        <!-- Step 2: Select the properties you need that correspond to your resource (how about adding properties from other resources? Go to advanced? -->
        <section *ngIf="newResource.id" [hidden]="counter!==2">
            <form #properties="ngForm" class="salsah-form">
                <p mat-subheader>Select properties for <i>{{newResource.label}}</i></p>

                <mat-list>
                    <mat-list-item class="link highlight">
                        <div class="salsah-checkbox">
                            <input type="checkbox"
                                   id="togglePermission"
                                   [checked]="isAllChecked()"
                                   (change)="checkAll($event)">
                            <label for="togglePermission" class="fill-remaining-space" [class.checked]="isAllChecked()">
                                <span class="checkbox-fake"></span>
                                <span class="checkbox-label">{{selectPropsText}}</span>
                            </label>
                        </div>
                    </mat-list-item>
                    <hr>
                    <!-- 2b) additional resource class specific properties -->
                    <mat-list-item *ngFor="let prop of newResource.properties | key; let i = index" class="link highlight">
                        <div class="salsah-checkbox">
                            <input type="checkbox"
                                   [(ngModel)]="prop.state"
                                   [name]="prop.key"
                                   [id]="prop.key"
                                   [value]="prop.key"
                                   [checked]="prop.value"
                                   (change)="setProp(prop, $event)">
                            <label [for]="prop.key" class="fill-remaining-space" [class.checked]="newResource.properties[prop.key] !== undefined">
                                <span class="checkbox-fake"></span>
                                <span class="checkbox-label">{{prop.value.label}}</span>
                            </label>
                        </div>

                        <!--
                        <mat-checkbox *ngIf="prop.value.cardinality === '1' || prop.value.cardinality === '1-n'"
                                     [id]="prop.key"
                                     [ngModel]="prop.key"
                                     [checked]="true"
                                     [name]="'prop_' + i">
                            <label [for]="prop.key" class="full-width">{{prop.value.label}}<span ></span></label>
                        </mat-checkbox>

                        <mat-checkbox *ngIf="prop.value.cardinality === '0-1' || prop.value.cardinality === '0-n' || prop.value.cardinality === false"
                                     color="primary"
                                     [ngModel]="prop.key"
                                     [checked]="false"
                                     [name]="'prop_' + i">
                            {{prop.value.label}}
                        </mat-checkbox>
                        -->
                        <!-- the properties on the left side are followed by their cardinality settings on the right side -->

                        <mat-select *ngIf="newResource.properties[prop.key] !== undefined" [(ngModel)]="prop.value.cardinality" [name]="newResource.properties[prop.key].cardinality">
                            <mat-option *ngFor="let cardinality of cardinalityList;" [value]="cardinality">
                                {{cardinality}}
                            </mat-option>
                        </mat-select>

                    </mat-list-item>
                </mat-list>
            </form>
        </section>

        <!-- Step 3: Set permissions for each property -->
        <section [hidden]="counter!==3">
            <form #permission="ngForm" class="salsah-form">
                <p mat-subheader>Set the permissions for the selected properties</p>
                <table class="full-width form-table">
                    <thead><tr>
                        <th width="36px" class="center">n</th>
                        <th style="text-align:left">Property</th>
                        <th *ngFor="let group of permissions.groups">
                            {{group.label}}
                        </th>
                    </tr></thead>



                    <tbody *ngFor="let prop of newResource.properties | key; let i = index">
                        <tr  class="link highlight" *ngIf="newResource.properties[prop.key] !== undefined" style="height: 48px">

                            <td width="36px">({{prop.value.cardinality}})</td>

                            <td style="text-align:left"><strong>{{prop.value.label}}</strong></td>

                            <td *ngFor="let grp of permissions?.groups; let j = index">
                                <mat-select [ngModel]="permissions?.categories[j + 1]?.id"
                                           (ngModel)="newResource.properties[prop.key]?.permissions[grp.id]"
                                           [name]="grp.id + '_' + i"
                                           (change)="setPerm(prop, grp, permission, $event)">
                                    <mat-option *ngFor="let cat of permissions.categories" [value]="cat.id">
                                        {{cat.label}}
                                    </mat-option>
                                </mat-select>
                            </td>

                            <!--
                            <td *ngFor="let permCat of permissions.categories; let i = index">
                                <mat-select [(ngModel)]="permissions.groups[i].id" [name]="permCat.id">
                                    <mat-option *ngFor="let permGrp of permissions.groups" [value]="permGrp.id">
                                        {{permGrp.label}}
                                    </mat-option>
                                </mat-select>
                            </td>
                            -->
                        </tr>
                    </tbody>
                </table>
            </form>
        </section>

        <!-- Step 4: Show a preview of the new resource -->
        <section [hidden]="counter!==4">
            <p mat-subheader>You're ontology for the resource class <strong>{{newResource.label}}</strong> looks as follow:</p>

            <p>{{newResource.description}}</p>

            <ul>
                <li *ngFor="let p of newResource.properties | key">{{p.value.label}}
                    <br>
                    admin: <span>{{p.value.permissions.admin}}</span>
                    member: <span>{{p.value.permissions.member}}</span>
                    guest: <span>{{p.value.permissions.guest}}</span>
                    everyone: <span>{{p.value.permissions.everyone}}</span>
                </li>
            </ul>

<!--
            <h3>Set property permissions and occurrence</h3>
            <div *ngFor="let res of baseOntology?.resourcetypes">
                <div *ngIf="res.label==newResource">
                    <div *ngFor="let props of res.properties">
                        <div *ngIf="props.checked==true || props.cardinality=='1' || props.cardinality=='1 - n'">
                            <table class="perm-style">
                                <tr>
                                    <!-- Property label --
                                    <td width="150px">
                                        <div><b> {{props.label}} </b> <br></div>
                                        <!--<small><small>(occurrence: {{props.cardinality}})</small></small>--
                                    </td>
                                    <!-- Permissions setting --
                                    <td width="150px">
                                        <mat-select class="perm-style"
                                                   placeholder="Permissions"
                                                   required
                                                   [(ngModel)]="perms[0].label" [name]="props.label" #permis="ngModel"  selected="group 1">
                                            <mat-option *ngFor="let perm of perms; let first of first" [value]="perm.label">
                                                {{perm.label}}
                                            </mat-option>
                                        </mat-select>
                                        <div [hidden]="permis.valid" class="alert alert-danger">
                                            <small><small>Permissions are required</small></small>
                                        </div>
                                    </td>
                                    <!-- Occurrence setting --
                                    <td width="150px">
                                        <mat-select class="perm-style"
                                                   placeholder="{{props.cardinality}}"
                                                   required
                                                   [(ngModel)]="props.card" [name]="props.id" #cardis="ngModel">
                                            <mat-option *ngFor="let card of cardinality; let first=first" [value]="card.label" selected="card.label === '1 - n' ? true : (card.label === '1' ? true : false)">
                                                {{card.label}}
                                            </mat-option>
                                        </mat-select>
                                        <div [hidden]="cardis.valid" class="alert alert-danger">
                                            <small><small>Occurrence is required</small></small>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </section>
        <!-- Step 5: Make a comment and save -->
        <section [hidden]="counter!==5">
            <h3>Comments</h3>
            <mat-input-container class="full-width">
                    <textarea matInput placeholder="Comments" rows="8" name="userComments"
                              ngModel></textarea>
            </mat-input-container>
        </section>
    <form #rcf="ngForm" (ngSubmit)="onSubmit(rcf.value)" class="salsah-form">
    </form>
</div>



<!-- the dialog actions bar is always the same; It stays fixed to the bottom of the dialog -->
<div mat-dialog-actions>
    <button mat-button
            mat-dialog-close
            class="cancel-button">
        Cancel
    </button>
    <span class="fill-remaining-space"></span>

    <span class="back">
        <button mat-button
                *ngIf="counter < max_steps && counter > 0"
                class="back-button"
                (click)="prevFormSection(counter, $event)">
            <mat-icon>keyboard_arrow_left</mat-icon> Back
        </button>
    </span>

    <!-- a button to go forward is on the right side; at the end it will be replaced with the submit button -->
    <span class="next">
        <button mat-raised-button
                [disabled]="!newResource.label"
                *ngIf="counter < (max_steps - 1) && counter > 0"
                class="next-button"
                [color]="'primary'"
                (click)="nextFormSection(counter, $event)">
            Next <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <!-- or -->
        <button type="submit"
                mat-raised-button
                *ngIf="counter === (max_steps - 1)"
                class="save-button"
                color="primary"
                (click)="onSubmit(rcf.value)"
                [disabled]="!rcf.valid">
            Save
        </button>
    </span>

</div>


