md-dialog-content {
    max-width: 100%;
    max-height: 100%;
    margin: 2em auto;
    text-align: left;
}

.resources-group {
    display: inline-flex;
    flex-direction: column;
}

.resource-button {
    margin: 0px;
    position: fixed;
    left: 0;
}

.resource-value {
    margin: 10px 0;
    color: #b2dfdb;
    position: fixed;
    bottom: 30%;
}

.perm-style {

}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}
