<div class="salsah-module with-header" *ngIf="auth">
    <!-- this component has his own toolbar header
        with tabs for navigation through the settings
    -->

    <md-toolbar class="salsah-module-header">

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <!-- Tab menu -->
        <nav class="salsah-tab-group" *ngIf="!errorMessage">
            <button md-button
                    class="salsah-tab-item"
                    [routerLink]="projectRoute"
                    [ngClass]="firstTabClass"
                    (click)="enableFirstTab()">
                <strong>{{cur_project | uppercase}}</strong>
            </button>
            <button *ngFor="let item of menu; let i = index; let first=first"
                    md-button
                    class="salsah-tab-item"
                    [routerLink]="item.route"
                    routerLinkActive="active"
                    (click)="disableFirstTab()">
                {{item.name}}
            </button>
        </nav>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

    </md-toolbar>

    <div class="salsah-sub-module">

        <md-progress-bar mode="indeterminate" *ngIf="isLoading"></md-progress-bar>

        <salsah-message *ngIf="errorMessage" [error]="errorMessage"></salsah-message>

        <router-outlet *ngIf="!errorMessage" (tabRequest)="activateTab($event)"></router-outlet>

    </div>

</div>



