<div class="salsah-module with-header">

    <!-- this component has his own toolbar header
        with tabs for navigation through the settings
    -->

    <mat-toolbar class="salsah-module-header">
        <!-- current dashboard type -->
        <h4 mat-subheader>
            Project
        </h4>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <!-- Tab menu -->
        <nav mat-tab-nav-bar class="salsah-tab-group" *ngIf="!errorMessage && !isLoading">
            <!-- the first tab is for the root of the project dashboard -->
            <a mat-tab-link
                    [routerLink]="projectRoute"
                    [active]="firstTab"
                    (click)="toggleFirstTab(true)">
                <strong>{{project.shortname | uppercase}}</strong>
            </a>
            <!-- the remaining tabs contains the project admin navigation -->
            <a mat-tab-link *ngFor="let item of menu;"
                    [routerLink]="item.route"
                    routerLinkActive
                    #rla="routerLinkActive"
                    [active]="rla.isActive && !firstTab"
                    (click)="toggleFirstTab(false)">
                {{item.name}}
            </a>
        </nav>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

    </mat-toolbar>

    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    <div class="salsah-module-scroll-area" *ngIf="!isLoading">

        <salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>

        <router-outlet *ngIf="!errorMessage"></router-outlet>

    </div>

</div>



