<div class="salsah-module with-header" *ngIf="auth">
    <!-- this component has his own toolbar header
        with tabs for navigation through the settings
    -->
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

    <mat-toolbar class="salsah-module-header">
        <!-- type of the current dashboard -->
        <h4 mat-subheader>
            Project <span *ngIf="projectAdmin">&nbsp;admin</span>
        </h4>
        <!--
        <mat-icon>assignment</mat-icon>
        -->

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <!-- Tab menu -->
        <nav class="salsah-tab-group" *ngIf="!errorMessage && !isLoading">
            <button mat-button
                    class="salsah-tab-item"
                    [routerLink]="projectRoute"
                    [ngClass]="firstTabClass"
                    (click)="enableFirstTab()">
                <strong>{{project.shortname | uppercase}}</strong>
            </button>
            <button *ngFor="let item of menu; let i = index; let first=first"
                    mat-button
                    class="salsah-tab-item"
                    [routerLink]="item.route"
                    routerLinkActive="active"
                    (click)="disableFirstTab()">
                {{item.name}}
            </button>
        </nav>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

    </mat-toolbar>

    <div class="salsah-module-scroll-area">

        <salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>

        <router-outlet *ngIf="!errorMessage && !isLoading" (tabRequest)="activateTab($event)"></router-outlet>

    </div>

</div>



