<md-card class="fix-width" [ngClass]="'salsah-' + message.type">
    <md-card-subtitle>
        <md-icon class="right">{{message.type}}</md-icon>
        {{message.type | uppercase }} {{message.status}} | {{message.info}}
    </md-card-subtitle>
    <md-card-title>
        {{message.title}}
    </md-card-title>
    <md-card-content *ngIf="defaultLinks">
        {{message.content.text}}
        <md-list *ngIf="message.content.links">
            <md-list-item *ngFor="let link of message.content.links" (click)="goToLocation(link.route)">
                <md-icon class="left">{{link.icon}}</md-icon>
                <span class="right">{{link.label}}</span>
            </md-list-item>
        </md-list>
    </md-card-content>

    <md-card-content *ngIf="!defaultLinks">
        The request failed on:
        <a href="{{message?.url}}" target="_blank">{{message?.url}}</a>
    </md-card-content>

    <md-card-actions>
        If you think it's a mistake, please
        <a href="https://github.com/dhlab-basel/salsah">
            inform the Salsah developers
        </a>
    </md-card-actions>
</md-card>
