<div class="salsah-list salsah-module-content" [ngClass]="[position.preview, size]">
    <h2 md-header>Organize your resources</h2>
    <button md-button (click)="addNewResourceClass()">
        <md-icon> add </md-icon>
        <span> Add new resource </span>
    </button>

    <md-list>
        <md-divider></md-divider>
        <br>
        <h3 md-subheader>Resources (active)</h3>
        <md-list-item *ngFor="let resClass of resourceTypes.resourcetypes; let i = index"
                      (click)="openResourceClass(resClass.id, i);"
                      class="salsah-link"
                      [class.highlight]="i == selectedRow">
            <md-icon md-list-avatar>{{resClass.icon}}</md-icon>
            <h4 md-line>{{resClass.label}}</h4>
            <p md-line>
            <span *ngFor="let prop of resClass.properties; let last=last">
                {{prop.label}} <span *ngIf="!last">/</span>
            </span>
            </p>
        </md-list-item>
        <!--
        <md-list-item>
            <md-icon md-list-avatar>image</md-icon>
            <h4 md-line>Image</h4>
            <p md-line> Description ... [edit the resource settings by click on it] </p>
        </md-list-item>
        <md-list-item>
            <md-icon md-list-avatar>book</md-icon>
            <h4 md-line>Book</h4>
            <p md-line> Description ... [edit the resource settings by click on it] </p>
        </md-list-item>
        -->
        <md-divider></md-divider>
        <h3 md-subheader>Resource (Draft, Archived, etc. ??) FAKE list!!</h3>
        <md-list-item class="passive">
            <!--<md-list-item *ngFor="let member of project.members">-->
            <md-icon md-list-avatar>camera_roll</md-icon>
            <h4 md-line>Photography</h4>
            <p md-line>DRAFT: description bla bla </p>
        </md-list-item>
    </md-list>
</div>

<div *ngIf="properties" class="salsah-module-detail" [ngClass]="position.detail">
    <md-progress-bar mode="indeterminate" *ngIf="isLoadingSubModule"></md-progress-bar>

    <div class="salsah-module-detail-content">
        <!-- close button -->
        <button md-icon-button (click)="closeDetailView()" class="right">
            <md-icon>close</md-icon>
        </button>

        <salsah-message *ngIf="errorMessage" [error]="errorMessage"></salsah-message>

        <md-list>
            <md-list-item *ngFor="let prop of properties.properties">
                <h4 md-line>{{prop.label}}</h4>
                <p md-line>{{prop.description}}</p>
                <p md-line>{{prop.occurrence}} | {{prop.gui_name}}</p>

            </md-list-item>
        </md-list>
    </div>
</div>
