<!-- progress indicator while the data is loading -->
<salsah-progress-indicator *ngIf="isLoading && !errorMessage"></salsah-progress-indicator>

<!-- show the results -->
<div *ngIf="!isLoading && !errorMessage; else errorMsg">

    <!-- if we have the data: show the list-->
    <div class="fill-remaining-space" *ngIf="numberOfItems > 0; else noData">

        <mat-accordion>
            <mat-expansion-panel *ngFor="let item of lists; let i = index" [hideToggle]="true"
                                 (opened)="fetchListData(item.id); epExpanded=true" (closed)="isExpanded=false">
                <mat-expansion-panel-header *ngIf="!epExpanded"  matTooltip="Click to open panel and see nodes">
                    <mat-panel-title>
                        <h4 (click)="editList(item.id, item)">
                            {{item.labels[0].value}}
                        </h4>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{item.id}}
                        <mat-icon>list</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-expansion-panel-header *ngIf="epExpanded" matTooltip="Click list name to edit list info">
                    <mat-panel-title>
                        <h4 (click)="editList(item.id, item)">
                            {{item.labels[0].value}}
                        </h4>
                    </mat-panel-title>
                    <mat-panel-description>
                        {{item.id}}
                        <mat-icon>list</mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <span><b>{{listLists.nodesLabel}}</b>
                    <span class="subtitle">Drag and drop the nodes to reorder</span>
                </span>
                <salsah-progress-indicator *ngIf="isLoadingNodes"></salsah-progress-indicator>
                <div *ngIf="currentListInfo" #tree>
                    <button class="right" mat-button color="primary" *ngIf="!isExpanded" (click)="expandAll(tree)">
                        {{listLists.buttons.expand}}
                    </button>
                    <button class="right" mat-button color="primary" *ngIf="isExpanded" (click)="collapseAll(tree)">
                        {{listLists.buttons.collapse}}
                    </button>
                    <button class="right" mat-button color="primary" (click)="addNode(tree)">
                        <mat-icon>add</mat-icon>
                        {{listLists.buttons.add}}
                    </button>
                    <!--<salsah-edit-node-info [node]="node" [tree]="tree"></salsah-edit-node-info>-->

                    <tree-root class="tree-node-expanded" #tree [nodes]="currentNodes" [options]="options">
                        <ng-template #treeNodeTemplate let-node let-index="index">

                                <button mat-icon-button (click)="editNode(item.id, node.data, node, tree)" class="edit-button">
                                    <mat-icon class="small-icon" > edit </mat-icon>
                                </button>
                            <span>
                                <!--<mat-icon class="small-icon" (click)="deleteNode(node, tree)"> delete </mat-icon>-->
                                {{ node.data.name }}
                            </span>
                            <span class="subtitle" *ngIf="node.children.length != 0"> Number of sub-nodes: {{node.children.length}}</span>
                            <!--     <button>{{node.data.name}}</button>
                               <button (click)="viewDetails(node.data.id)">Node Name</button>
                              -->
                        </ng-template>
                    </tree-root>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>


    <!-- in the case of zero results: show a no data message -->
    <ng-template #noData>
        <salsah-message [message]="noDataMessage"></salsah-message>
    </ng-template>
</div>

<!-- in the case of an API error: show the error message -->
<ng-template #errorMsg>
    <salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>
</ng-template>


<!--
<!-- single list operations --
<div *ngIf="listOp === 'view' || listOp === 'edit' || listOp === 'create'"
     class="salsah-module-detail"
     [ngClass]="position.detail">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoadingSubModule"></mat-progress-bar>

    <div class="salsah-module-detail-header">
        <!-- close button --
        <button mat-mini-fab (click)="closeDetailView()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

</div>


    <div class="salsah-module-detail-content">
        <!-- if an error occurs: show the error message --
<salsah-message *ngIf="errorMessage" [message]="errorMessage"></salsah-message>

<!-- view selected list --
<div class="view-list" *ngIf="!errorMessage">
    <salsah-list-form [listIri]="selectedList.id" [listOp]="listOp"></salsah-list-form>
</div>
</div>
-->

