.toggle-icon {
  height: 10px;
  width: 10px;
}

.subtitle {
  color: rgba(0,0,0,.54);
  font-size: 14px;
  padding-left:80px;
}

.node-content-wrapper {

  .small-icon {
    font-size: 20px;
  }

  .edit-button {
    visibility: hidden;
  }


  &:hover {
    .edit-button {
      padding-left:80px;
      visibility: visible;

    }
  }
}
