.subtitle {
  color: rgba(0,0,0,.54);
  font-size: 14px;
  padding-left:40px
}

.small-icon {
  font-size: 14px;
}

.toggle-icon {
  height: 10px;
  width: 10px;
}

.node-content-wrapper {

  .edit-button {
    display: none;
  }

  &:hover {

    .edit-button {
      display: block;
    }
  }
}
