.cdk-overlay-pane {
  height: auto;
  width: auto;

  .mat-dialog-container {
    margin: 0 !important;
    padding: 0 !important;

    .mat-dialog-content {
      margin: 0 !important;
      padding: 0 !important;
    }

    .mat-dialog-actions {
      margin: 0;
    }
  }
}


