$color-error: #ff9e80;
$color-warning: #ffff8d;
$color-note: #ccff90;

.salsah-error {
  background-color: $color-error;
}

.salsah-warning {
  background-color: $color-warning;
}

.salsah-note,
.salsah-hint {
  background-color: $color-note;
}

.salsah-error,
.salsah-warning,
.salsah-note,
.salsah-hint {
  margin: 100px auto;
  max-width: 640px;

  .message-subtitle {
    padding-bottom: 12px;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }

  .message-title {
    padding-top: 12px;

  }

  .message-content {
    margin-bottom: 48px;
    margin-top: 48px;

    .link {
      cursor: pointer;
    }
  }

  .message-footnote {
    padding: 24px;
  }
}
