<salsah-progress-indicator *ngIf="isLoading"></salsah-progress-indicator>

<md-card *ngIf="!isLoading && message !== undefined" class="fix-width salsah-message" [ngClass]="'salsah-' + message?.type">

    <md-card-subtitle class="message-subtitle">
        <span class="left">{{message?.type | uppercase }} {{message?.status}} | {{message?.statusMsg}}</span>
        <md-icon class="right">{{message?.type}}</md-icon>
    </md-card-subtitle>

    <md-card-title class="message-title" [innerHtml]="message?.statusText"></md-card-title>

    <md-card-content class="message-content">
        <md-list *ngIf="message?.route">
            <md-list-item>
                <a [href]="message?.route" target="_blank">
                    &rarr; {{message?.route}}
                </a>
            </md-list-item>
        </md-list>

        <md-list *ngIf="showLinks">
            <p>{{links.title}}</p>
            <md-list-item *ngFor="let item of links.list" class="link" (click)="goToLocation(item.route)">
                <md-icon md-list-icon>{{item.icon}}</md-icon>
                <p md-line>{{item.label}}</p>
            </md-list-item>
        </md-list>



    </md-card-content>

    <md-card-footer class="message-footnote"
                    [innerHtml]="message?.footnote"></md-card-footer>

</md-card>
