<salsah-progress-indicator *ngIf="isLoading"></salsah-progress-indicator>

<mat-card *ngIf="!isLoading && message !== undefined" class="fix-width salsah-message" [ngClass]="'salsah-' + message?.type">

    <mat-card-subtitle class="message-subtitle">
        <span class="left">{{message?.type | uppercase }} {{message?.status}} | {{message?.statusMsg}}</span>
        <mat-icon class="right">{{message?.type}}</mat-icon>
    </mat-card-subtitle>

    <mat-card-title class="message-title" [innerHtml]="message?.statusText"></mat-card-title>

    <mat-card-content class="message-content">
        <mat-list *ngIf="message?.route">
            <mat-list-item>
                <a [href]="message?.route" target="_blank">
                    &rarr; {{message?.route}}
                </a>
            </mat-list-item>
        </mat-list>

        <mat-list *ngIf="showLinks">
            <p>{{links.title}}</p>
            <mat-list-item *ngFor="let item of links.list" class="link" (click)="goToLocation(item.route)">
                <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
                <p mat-line>{{item.label}}</p>
            </mat-list-item>
        </mat-list>



    </mat-card-content>

    <mat-card-footer class="message-footnote"
                    [innerHtml]="message?.footnote"></mat-card-footer>

</mat-card>
