@import '../../../../assets/style/config';

.salsah-error {
  background-color: rgba($warn, .5);
}

.salsah-warning {
  background-color: rgba($accent, .5);
}

.salsah-note,
.salsah-hint {
  background-color: rgba($primary, .4);
}

.salsah-error,
.salsah-warning,
.salsah-note,
.salsah-hint {
  margin: 64px auto;
  max-width: 640px;

  .message-subtitle {
    padding-bottom: 12px;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }

  .message-title {
    padding-top: 12px;

  }

  .message-content {
    margin-bottom: 48px;
    margin-top: 48px;

    .link {
      cursor: pointer;
    }
  }

  .message-footnote {
    padding: 24px;
  }
}

.salsah-short-message {

  .salsah-short-message-text {
    font-weight: bolder;
    text-align: center;
  }

}
