<!-- progress indicator, until the data is ready -->
<salsah-progress-indicator *ngIf="isLoading"></salsah-progress-indicator>

<md-list class="salsah-list">
    <h3 md-subheader>{{title}}</h3>
    <md-list-item *ngFor="let project of projectsList" (click)="openProject(project.shortname)" class="salsah-link">
        <md-icon md-list-avatar>chrome_reader_mode</md-icon>
        <h4 md-line>{{project.name}}</h4>
        <div md-line [innerHtml]="project.description | slice:0:128"></div>
    </md-list-item>
</md-list>

<!-- if there's an error with the projects list: show the error message -->
<salsah-message *ngIf="errorMessage" [error]="errorMessage"></salsah-message>
